{% extends 'templates/default.twig' %}

{% block content %}
	<div class="container center-block center-position">    
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">           <!-- Div Panel -->
				<div class="panel panel-warning" >
					<!-- Panel Heading -->
					<div class="panel-heading">
						<div class="panel-title"><strong>Forest Hill Tennis League Password Change</strong></div>
					</div><!-- End panel heading -->
					
					<!-- Panel body -->
					<div class="panel-body" >
				        {% if flash.getMessage('global_error').0 %}
				            <div class="alert alert-danger">{{ flash.getMessage('global_error').0 }}</div>
				        {% endif %}  
						<form action="{{ path_for('password.change.post') }}" 
								id="passwordChangeForm" 
								method="post" 
								class="form-horizontal" 
								role="form">
						

			{% if app.v.errors().has('identifier') %} 
			<div class="bg-warning">
			{{ app.v.errors().first('identifier') }} 
			</div>
			{% endif %}
							<div class="input-group input-password">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i></span>
									<input type="password" 
											name="current_password" 
											id="current_password" 
											class="form-control" 
											placeholder="current password">
							</div>


							<div class="input-group input-password">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i></span>
									<input type="password" 
											name="password" 
											id="password" 
											class="form-control" 
											placeholder="new password">
							</div>

							<div class="input-group input-password">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i></span>
									<input type="password" 
											name="password_match" 
											id="password_match" 
											class="form-control" 
											placeholder="confirm new password">
							</div><br />
			{% if app.v.errors().has('current_password') %}
			<div class="bg-warning">
			 {{ app.v.errors().first('current_password') }}
			</div>
			{% endif %}
			{% if app.v.errors().has('password') %}
			<div class="bg-warning">
			 {{ app.v.errors().first('password') }}
			</div>
			{% endif %}
			{% if app.v.errors().has('password_match') %}
			<div class="bg-warning">
			 {{ app.v.errors().first('password_match') }}
			</div>
			{% endif %}

							<div class="form-group login-button">
								<div class="col-sm-12 controls">
									<div>
										<input type="submit" 
										 		value="Change password" 
										 		class="btn btn-warning btn-lg btn-block">
									</div>
								</div>
							</div>
							
						{% include 'auth/csrf.inc' %}

						</form><!-- End form -->     
			<div class="btn-group btn-group-sm" role="group" aria-label="...">
				<a class="btn btn-info btn-sm" href="{{ path_for('home') }}" 
				data-toggle="tooltip" title="Go to home page">Home</a>
				<a class="btn btn-info btn-sm" href="{{ path_for('logout') }}" 
				data-toggle="tooltip" title="Logout">Logout</a> 	
			</div>						
					</div><!-- End panel body -->
			</div><!-- End panel group -->  
		</div>
	</div>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<script src="{{SITEROOT}}/res/js/jquery-validate.bootstrap-tooltip.min.js"></script>

<script>
$(function () {
	$('[data-toggle="tooltip"]').tooltip({
		placement: 'bottom',
		trigger: 'hover focus',
	});

	$( "#passwordChangeForm" ).validate({
		rules: {
			current_password: {
				required: true,
				minlength: 6,
			},
			password: {
				required: true,
				minlength: 6,
			},			
			password_match: {
				required: true,
				minlength: 6,
				equalTo: "#password"
			},	
		},

		tooltip_options: {
			current_password: { placement: 'bottom' },
			password: { placement: 'bottom' },
			password_match: { placement: 'bottom'},
		}
	});
})
</script>	
{{ parent() }}
{% endblock %}