{% extends 'templates/default.twig' %}
{% use 'nav.inc' %}

{% block head %}

{{parent()}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/bootstrap-switch.min.css">

{% endblock head %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
        {% if flash.getMessages() %}
          {% for k, messages in flash.getMessages() %}
            {% for message in flash.getMessages()[k] %}
              {% if k == 'global' %}
                <div class="alert alert-success">{{ message }}</div>
              {% else %}
                <div class="alert alert-danger">{{ message }}</div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}


{% block nav %}
  {{ parent() }}
{% endblock nav %}

    </div>
    <div class="col-md-8">
      <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">
              <h2><strong>Current Standings</strong></h2>
            </div>
          </div>
          <!-- Panel body -->
          <div class="panel-body">
            <div class="table-responsive">
              <table id="standingstable" class="display table table-bordered table-striped table-condensed table-hover" cellspacing="0" width="100%">
              <thead>
              <tr>
              <th>Player</th>
              <th>Points</th>
              <th>Matches</th>
              <th>Wins</th>
              <th>Losses</th>
              <th>Division</th>
              </tr>
              </thead>

              <tfoot>
              <tr>
              <th>Player</th>
              <th>Points</th>
              <th>Matches</th>
              <th>Wins</th>
              <th>Losses</th>
              <th>Division</th>
              </tr>
              </tfoot>
              </table>
            </div>
          </div>
      </div>  
    </div>
    <div class="col-md-2">
      Right column. My challenges.
    </div>
  </div>
</div>

{% endblock content %}


{% block js %}

<script type="text/javascript" src="https://cdn.datatables.net/s/bs/dt-1.10.10/datatables.min.js"></script>
<script type="text/javascript">

  $(document).ready(function() {

      var items = [];
      var standingstable;

      $.getJSON( "{{ path_for('standings.get.json')}}", function( data ) {
      
        $.each( data, function( key, val ) {
        var item = [];
        
        item.push(data[key]['player'] );
        item.push(data[key]['points'] );
        item.push(+data[key]['wins'] + +data[key]['losses']);
        item.push(data[key]['wins'] );
        item.push(data[key]['losses'] );
        item.push(data[key]['division'] );

        items.push(item);

      });

        if (items.length <= 10) {
          var opts =  {
            "oLanguage": {
              "sZeroRecords": "No reports yet"
            },
            "order": [[ 1, "desc" ]],
            "paging":   false,
            "info":     false,
            "searching": true,
          };
        }

        standingstable = $('#standingstable').dataTable(opts);

         standingstable.fnClearTable();

        for(var i = 0; i < items.length; i++) { 
            standingstable.fnAddData([ 
              items[i][0], 
              items[i][1], 
              items[i][2], 
              items[i][3],
              items[i][4],
              items[i][5],
            ]);
        }; 
      
      });
    


});

</script>
{% endblock js %}