{% extends 'templates/default.twig' %}
{% use 'nav.inc' %}

{% block head %}

  {{parent()}}
  <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/bootstrap-switch.min.css">

  <style type="text/css">
    .modal.modal-wide .modal-dialog {
      width: 60%;
    }
  </style>
{% endblock head %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
          {% if flash.getMessages() %}
            {% for k, messages in flash.getMessages() %}
              {% for message in flash.getMessages()[k] %}
                {% if k == 'global' %}
                  <div class="alert alert-success">{{ message }}</div>
                {% else %}
                  <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}

          {% block nav %}
            {{ parent() }}
          {% endblock nav %}

      </div>
      <div class="col-md-8">
        <div class="panel">
             <div class="panel-body">
              <h2><strong>Current Standings<a alt="Refresh" class="btn btn-sm" title="Refresh" id="standingstablerefresh"><img src="{{SITEROOT}}/res/img/reload.png"></a></strong></h2>
              <div class="container row" style="width:250px">
                {{ auth.genDivisionSelect2('divisionfilter') | raw }}
              </div>
              <div class="table-responsive">
                <table id="standingstable" class="display compact table table-bordered table-striped table-condensed table-hover" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Player</th>
                      <th>Points</th>
                      <th>Matches</th>
                      <th>Wins</th>
                      <th>Losses</th>
                      <th>Division</th>
                      <th>Userid</th>
                      <th>Divisionid</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

  <div id="playerDetailsModal" class="modal fade modal-wide" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-primary" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Player details</h4>
        </div>
        <div class="modal-body modal-wide">
          <div id="loading1">
              <img src="{{SITEROOT}}/res/img/loader.gif">
          </div>
          <div class="modal-body-inner1">
                <table id="playerdetailstable" class="display compact table table-bordered table-striped table-condensed table-hover" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>VS</th>
                      <th>Division</th>
                      <th>Result</th>
                      <th>Points</th>
                    </tr>
                  </thead>
              </table>
          </div>

         </div>
      </div>
    </div>
  </div>

  <div id="divisionselectmodal" style="display:none;">
    {{ auth.genJoinedDivisionSelect2('usersdivisionsmodal')  | raw }}
  </div>
{% endblock content %}

{% block js %}

  <script type="text/javascript" src="{{SITEROOT}}/res/js/datatables.min.js"></script>
  <script type="text/javascript" src="{{SITEROOT}}/res/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript">

    $(document).ready(function() {

      var tablename_0 = 'standingstable';
      var tablename_1 = 'playerdetailstable';

      var divisionselectmodal = $('#divisionselectmodal').html();
      var standingstable;
      var standingstableopts =  {
              responsive: true,
              processing: true,
              ajax : "{{ path_for('standings.get.json')}}",
              columns: [
                { "data" : "player" },
                { "data" : "points" },
                { "data" : "matches" },
                { "data" : "wins" },
                { "data" : "losses" },
                { "data" : "division" },
                { "data" : "userid" },
                { "data" : "divisionid" },
              ],
              fnDrawCallback:function(d){
                if ( d.aiDisplay.length > 10 ) {
                  $('#' + tablename_0 + '_paginate').show();
                } else {
                  $('#' + tablename_0 + '_paginate').hide();
                }
              },
              oLanguage: {
               sZeroRecords : "No reports yet"
              },
              order: [[ 1, "desc" ]],
              paging:   true,
              info:     false,
              searching: true,
              initComplete: function (d) {
                this.api().columns(5).search( $('#divisionfilter').val() ).draw();
              },
              aoColumnDefs : [
                {
                    aTargets   : [ 6, 7 ],
                    visible    : false,
                    searchable : false
                },
              ],
              rowCallback : function( row, full, index ) {
                output_col_0 = '<a data-toggle="modal" data-target="#playerDetailsModal" data-remote="false" href="{{SITEROOT}}/playerdetailsjson/'+full.userid+'">'+ full.player  +'</a>';
                $('td:eq(0)', row).html( output_col_0 );
              }
      };

      standingstable = $('#standingstable').DataTable(standingstableopts);

      $('#divisionfilter').on( 'change', function () {
          standingstable.columns(5).search( $(this).val() ).draw();
      });

      var playerdetailstableopts =  {
          responsive : true,
          processing : true,
          ajax       : "start",
          columns    : [
            { "data" : "challengedate" },
            { "data" : "vsplayer" },
            { "data" : "division" },
            { "data" : "result" },
            { "data" : "points" },
          ],
          order        : [[ 0, "desc" ]],
          paging       : true,
          info         : false,
          searching    : true,
          initComplete : function () {
            $('#playerdetailstable').show();
          },
          fnDrawCallback: function(d) {
              if ( d.aiDisplay.length > 10 ) {
                $('#' + tablename_1 + '_paginate').show();
              } else {
                $('#' + tablename_1 + '_paginate').hide();
              }
          },
          aoColumnDefs : [],
          rowCallback : function( row, full, index ) {
            if (full.result == "W") {
              output_col_3 = '<div class="label label-success label-sm">' + full.result + '</div>';
            } else {
              output_col_3 = '<div class="label label-danger label-sm">' + full.result + '</div>';
            }

            $('td:eq(3)', row).html( output_col_3 );
          }
      };

      $("#playerDetailsModal").on("show.bs.modal", function(e) {
            var loadingElem = $(this).find("#loading1");
            loadingElem.show();

            $('#playerdetailstable').hide();

            var elem1 = $(this).find(".modal-body-inner1");

            var link = $(e.relatedTarget);
            var link_1 = link.attr("href");

            if ( ! $.fn.DataTable.isDataTable( '#playerdetailstable' ) ) {

              playerdetailstableopts.ajax = link_1;
              playerdetailstable = $('#playerdetailstable').DataTable(playerdetailstableopts);

            } else {

              playerdetailstable.ajax.url( link_1 );
              playerdetailstable.ajax.reload(function () {
                $('#playerdetailstable').show();
                loadingElem.hide();
              });

            }

            loadingElem.hide();
      });

      $("#playerDetailsModal").on("hide.bs.modal", function(e) {
        //
      });

      $('#standingstablerefresh').on( 'click', function () {
          standingstable.ajax.reload();
      });

      // setInterval( function () {
      //     standingstable.ajax.reload();
      // }, 10000 );

    });

  </script>
{% endblock js %}