{% extends 'templates/default.twig' %}
{% use 'nav.inc' %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
          {% block nav %}
            {{ parent() }}
          {% endblock nav %}
      </div>
      <div class="col-md-8">
        <div class="panel">
             <div class="panel-body">

  <p><span style="mso-no-proof:yes"><img id="_x0000_i1030" src="{{SITEROOT}}/res/img/clubinfo.gif" alt="clubinfo.gif" height="120" width="644"></span></p>
  <p><strong><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
  color:#009900">Club Location</span></strong><span style="font-size:10.0pt;
  font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><br>
  The Forest Hill Tennis Club is located near the intersection of <span class="SpellE">Spadina</span> and <span class="SpellE">Eglinton</span> Avenue
  (just west of <span class="SpellE">Spadina</span>). The Map below outlines the
  two parking zones and the club's tennis courts.<span style="mso-spacerun:yes">&nbsp; </span>The courts are located behind the Forest
  Hill Public Library.<span style="mso-spacerun:yes">&nbsp; </span>(To the East of
  Forest Hill Collegiate Institute).<o:p></o:p></span></p>
  <p><strong><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
  color:#009900">Parking Zone #1:</span></strong><span style="font-size:10.0pt;
  font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"> The entrance for this parking zone is
  directly off <span class="SpellE">Eglinton</span> Ave. West (and is shown by
  the yellow arrow below). The driveway is between 660 <span class="SpellE">Eglinton</span>
  Ave West and 666 <span class="SpellE">Eglinton</span> Ave West. This parking
  should be available during the week and on weekends. </span></p>
  <p><strong><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
  color:#009900">Parking Zone #2:</span></strong><span style="font-size:10.0pt;
  font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"> To access this parking zone, you must
  enter the Forest Hill Collegiate drive way (which is <span class="SpellE">Vesta</span>
  Drive) and follow the road to the right (as is shown by the green line /
  arrows below). Parking Zone #2 is only available on weekends, and parking is
  limited to roughly 5 or 6 cars. The road outlined in green is not very wide,
  so please use caution when entering or exiting Parking Zone #2.<o:p></o:p></span></p>
  <p><b style="mso-bidi-font-weight:normal"><span style="font-size:10.0pt;
  font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Use Parking Zone #1 rather than Parking
  Zone #2, as the caretakers of the high school sometimes get upset when people
  park in Parking Zone #2.<span style="mso-spacerun:yes">&nbsp; </span><o:p></o:p></span></b></p>
  <p><o:p>&nbsp;</o:p></p>
  <p><span style="mso-no-proof:yes"><img id="_x0000_i1029" src="{{SITEROOT}}/res/img/clubmap.gif" alt="clubmap.gif" height="392" width="623"></span></p>
  <p><strong><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
  color:#009900">Directions Via TTC<span class="GramE">:</span></span></strong><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><br>
  <strong><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">University Line:</span></strong></span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"> Get off at <span class="SpellE">Eglinton</span> Avenue West subway station, and take bus #32
  East (MAKE SURE YOU TAKE EAST!). Get off 2 stops AFTER Bathurst Street. The
  courts are directly opposite the street from the stop. <o:p></o:p></span></p>
  <p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">OR Get off
  at St. Clair WEST station.<span style="mso-spacerun:yes">&nbsp; </span>Take bus
  #33 which goes North on <span class="SpellE">Spadina</span>.<span style="mso-spacerun:yes">&nbsp; </span>Get off at <span class="SpellE">Eglinton</span>
  and cross the street.<span style="mso-spacerun:yes">&nbsp; </span>Walk about a
  minute West and you’ll see the courts. <o:p></o:p></span></p>
  <p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">OR Get off
  at <span class="SpellE">Glencairn</span> Station. Take Bus #14 East.<span style="mso-spacerun:yes">&nbsp; </span>Get off at <span class="SpellE">Eglinton</span>
  and walk about a block and a half West. <br>
  <b><br>
  <span class="SpellE"><strong><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Yonge</span></strong></span><strong><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"> Line:</span></strong></b> Get off
  at <span class="SpellE">Eglinton</span> Avenue subway station, and take bus #32
  West (32 only goes West). Get off at the <span class="SpellE">Spadina</span>
  stop, continue walked west for about a minute, and the courts are on the
  right hand side. <o:p></o:p></span></p>
  <p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">OR Get off
  at <span class="SpellE">Davisville</span> Station.<span style="mso-spacerun:yes">&nbsp; </span>Take bus #14 West.<span style="mso-spacerun:yes">&nbsp; </span>Get off at on the North side of <span class="SpellE">Eglinton</span> and walk about a block and a half west.<span style="mso-spacerun:yes">&nbsp; </span></span></p>
  <p><strong><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
  color:#009900">Forest Hill Tennis Club Socials</span></strong><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><br>
  The Forest Hill Tennis Club has their own Socials and Play Days that are
  scheduled throughout the summer. We are all welcome to attend (they normally
  include lunch and refreshments). The dates will be updated below once they
  have been finalized:</span></p>
  <p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Opening
  Social and Annual General Meeting – May 25, 2014 @ 12pm</span></p>
  <p><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Sunday,
  August 10, 2014 @ 12pm<o:p></o:p></span></p>
  <p><strong><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
  color:#009900">Tennis Lessons</span></strong><span style="font-size:10.0pt;
  font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><br>
  The Club is offering TEN free group tennis lessons for members again this
  year. Attendance is recommended for those that want to improve their game as the
  club pro is excellent and has been a regular at Forest Hill for years. For
  2014, the free tennis clinics for members will be held Saturdays (May 24,
  2014 - July 26, 2014): <br>
  <br>
  Sr. Novice: 1:45 - 2:45pm; <br>
  Sr. Intermediate: 2:45 - 3:45pm; <br>
  Juniors: 3:45 - 4:15pm.<br>
  </span><br>
  <strong><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
  color:#009900">Application Form </span></strong><span style="font-size:10.0pt;
  font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><br>
  The CA Tennis League / Forest Hill Tennis Club application form is available
  below. Please complete the application form and return it to
  catennisleague@gmail.com. </span></p>
  <p style="text-align:center" align="center"><a href="{{SITEROOT}}/res/files/PROFESSIONAL%20ACCOUNTING%20SUMMER%20TENNIS%20LEAGUE.doc"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-no-proof:yes;
  text-decoration:none;text-underline:none"><img id="_x0000_i1028" src="{{SITEROOT}}/res/img/2007%20application.gif" alt="2007 application" height="151" width="127" border="0"></span></a></p>
  
  
            </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

{% endblock %}