{% extends 'templates/default.twig' %}
{% use 'nav.inc' %}

{% block head %}

  {{parent()}}
  <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/responsive.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/bootstrap-switch.min.css"/>

{% endblock head %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
          {% if flash.getMessages() %}
            {% for k, messages in flash.getMessages() %}
              {% for message in flash.getMessages()[k] %}
                {% if k == 'global' %}
                  <div class="alert alert-success">{{ message }}</div>
                {% else %}
                  <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}

          {% block nav %}
            {{ parent() }}
          {% endblock nav %}
      </div>
      <div class="col-md-8">
        <div class="panel">
            <div class="panel-body">
              <h2><strong>Report Challenges<a alt="Refresh" class="btn btn-sm" title="Refresh" id="reportchallengestablerefresh"><img src="{{SITEROOT}}/res/img/reload.png"></a></strong></h2>
                <table id="reportchallengestable" class="display table table-bordered table-striped table-condensed table-hover" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Date</th>
                      <th>Division</th>
                      <th>Player 1</th>
                      <th>Player 2</th>
                    </tr>
                  </thead>
                </table>
            </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

  <div id="challengeReportModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-primary" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Report a Challenge</h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
                <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1">
            <form id="reportForm" class="form-horizontal" role="form"  method="post" action="">

              <div id="part1" class="well well-sm" style="display:none">
                  <h3 id="pickawinner">Pick a winner:</h3>
                  <a class="btn btn-sm btn-primary" href="#" id="player1"></a>
                  <a class="btn btn-sm btn-primary" href="#" id="player2"></a>
                  <input type="hidden" id="winnerid" name="winnerid" value="">
              </div>

              <div id="part2" class="well well-sm" style="display:none">
                <label for="typeofmatch">Match type:</label>
                  <div id="typeofmatch" class="btn-group">
                    <button type="button" id="1stto7" class="btn btn-primary">1st to 7 games</button>
                    <button type="button" id="bo3" class="btn btn-primary">Best of 3 sets</button>
                </div>
                <input name="matchtype" id="matchtype" value="" type="hidden">
              </div>

              <div id="part3a" class="well well-sm" style="display:none">
                  <label class="control-label"  for="loserscore">Loser # of games:</label>
                  <input  style="width:50px" type="text" id="loserscore" name="loserscore">
                  <div id="errorDiv"></div>
              </div>

              <div id="part3b" class="well well-sm" style="display:none">
                  <label for="set1">Set 1:</label>
                  <input style="width:50px" id="set1" type="text" name="winner_1">
                  <input style="width:50px" type="text" name="loser_1">

                  <br />

                  <label for="set2">Set 2:</label>
                  <input style="width:50px" id="set2" type="text" name="winner_2">
                  <input style="width:50px" type="text" name="loser_2">

                  <br />

                  <label for="set3">Set 3:</label>
                  <input style="width:50px" id="set3" type="text" name="winner_3">
                  <input style="width:50px" type="text" name="loser_3">


              </div>

              <div id="part4a" class="well well-sm" style="display:none">
                  <label for="retiredcheck">Opponent retired: </label>
                  <input id="retiredcheck" type="checkbox" name="retired" data-size="mini" data-on-text="Yes" data-off-text="No" value="1">
                  <div id="retirednotedetails" style="display:none">
                    <textarea rows="5" cols="30" id="retirednote" name="retirednote" placeholder="Reason to retire.(optional)"></textarea>
                  </div>

              </div>

              <div id="part4" class="well well-sm" style="display:none">
                <div id="loading2" style="display:none">
                  <img src="{{SITEROOT}}/res/img/ajax-loader.gif">
                </div>
                <input type="submit" id="reportFormSubmit" class="btn btn-sm btn-primary" value="Report">
              </div>
              <div id="csrfgen"></div>
            </form>

          </div>
          <div class="modal-body-inner2"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="challengeConfirmReportModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-primary" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm Report</h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
                <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1">
            <form id="reportConfirmForm" class="form-horizontal" role="form"  method="post" action="">

              <div id="winner" class="well well-sm" style="display:none"></div>

              <div id="matchtype" class="well well-sm" style="display:none"></div>

              <div id="score" class="well well-sm" style="display:none"></div>

              <div id="opponentretired" class="well well-sm" style="display:none">
                  <div id="retiredcheck"></div>
                  <div id="retirednotedetails"></div>
              </div>

              <div id="everythingcorrectcheck" class="well well-sm" style="display:none">
                  <label for="correctcheck">Everything is correct: </label>
                  <input id="correctcheck" type="checkbox" name="correctcheck" data-size="mini" data-on-text="Yes" data-off-text="No" value="1">
                  <div id="incorrectdetails" style="display:none">
                    <textarea rows="5" cols="30" id="incorrectnote" name="incorrectdetails" placeholder="Why is this incorrect? (required)"></textarea>
                  </div>
              </div>

              <div id="loading2" class="well well-sm" style="display:none">
                <img src="{{SITEROOT}}/res/img/ajax-loader.gif">
              </div>

              <div id="reportResult" class="well well-sm" style="display:none">
              </div>

              <div id="confirmdenybuttons" style="display:none">
                <div id="confirmreportbutton" class="well well-sm">
                  <input type="submit" class="btn btn-sm btn-primary" value="Confirm">
                </div>

                <div id="denyreportbutton" class="well well-sm" style="display:none">
                  <input type="submit" class="btn btn-sm btn-danger" value="Deny">
                </div>
              </div>

              <div id="csrfgen"></div>
            </form>

          </div>
          <div class="modal-body-inner2"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="challengeDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-success" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Challenge details</h4>
        </div>
        <div class="modal-body">
          <div id="loading1">
            <img src="{{SITEROOT}}/res/img/loader.gif">
          </div>
          <div class="modal-body-inner1">
            <table id="challengedetails"
                   class="compact table-condensed borderless"
                   width="100%">
              <tbody>
                <tr><td><label>Status:</label></td><td id="challengestatus"></td></tr>
                <tr><td><label>Date:</label></td><td id="challengedate"></td></tr>
                <tr><td><label>Challenger:</label></td><td id="challenger"></td></tr>
                <tr><td><label>Division:</label></td><td id="challengeddivision"></td></tr>
                <tr><td><label># of matches:</label></td><td id="numofmatches"></td></tr>
                <tr><td><label># to play:</label></td><td id="numofmatchestoplay"></td></tr>
                <tr><td id="challengenotelabel"><label>Note:</label></td><td style="max-width:150px;" class="wordwrap" id="challengenote"></td></tr>
              </tbody>
            </table>
          </div>
          <div class="modal-body-inner2">
            <table id="challengedetailstable"
                     class="display compact table table-bordered table-striped table-condensed table-hover"
                     cellspacing="0"
                     width="100%">
                  <thead>
                    <tr>
                      <th>Accepted by</th>
                      <th>Accepted at</th>
                      <th>Status</th>
                      <th id="challengedetailsnote">Note</th>
                      <th id="challengedetailswinner">Winner</th>
                      <th id="challengedetailsscore">Score</th>
                    </tr>
                  </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

{% block js %}

  <script type="text/javascript" src="{{SITEROOT}}/res/js/datatables.min.js"></script>
  <script type="text/javascript" src="{{SITEROOT}}/res/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="{{SITEROOT}}/res/js/bootstrap-switch.min.js"></script>
  <script type="text/javascript">

     $(document).ready(function() {

      var siteroot = '{{ SITEROOT }}';

      var tablename_0 = 'reportchallengestable';
      var errorcount = 0;
      var reportchallengestable;

      var tablename_1 = 'challengedetailstable';

      var wwidth = 0;

      $( window ).resize(function() {

        if ( Math.abs(wwidth - $( window ).width()) > 25) {
          wwidth = $( window ).width();
          if ( $.fn.DataTable.isDataTable( '#' + tablename_0 ) ) {
            $('#' + tablename_0 ).DataTable()
            .columns.adjust()
            .responsive.recalc();
          }

          if ( $.fn.DataTable.isDataTable( '#' + tablename_1 ) ) {
            $('#' + tablename_1 ).DataTable()
            .columns.adjust()
            .responsive.recalc();
          }          
        }
      });


      var reportchallengestableopts = {
          responsive: true,
          processing: true,
          ajax: "{{ path_for('challenges.report.get.json')}}",
          columns: [
            { "data" : "challengeid" }, // 0
            { "data" : "challengeid2" },
            { "data" : "challengedate" },
            { "data" : "player1" },
            { "data" : "player2" },
            { "data" : "challengeddivision" }, // 5 - hide rest
            { "data" : "winnerid" },
            { "data" : "reportedbyuserid" },
            { "data" : "needtoconfirm" },
            { "data" : "reportconfirmed" }, // 9
          ],
          oLanguage: {
           sZeroRecords : "Nothing to report"
          },
          order: [[ 1, "desc" ]],
          paging:   true,
          info:     true,
          searching: true,
          initComplete: function () {
          },
          aoColumnDefs : [
            {
                targets   : [ 5,6,7,8,9 ],
                visible    : false,
                searchable : false
            },
            {
              targets: 1,
              render: function ( data, type, full, meta ) {

                return '<a href="{{SITEROOT}}/challenge/details2/' + full.challengeid2 + '" data-toggle="modal" data-target="#challengeDetailsModal" data-remote="false" class="btn btn-sm btn-primary">' + full.challengedate + '</a>';
              }
            },            
          ],
          fnDrawCallback:function(d){
            if ( d.aiDisplay.length > 10 ) {
               $('#reportchallengestable_paginate').show();
              } else {
              $('#reportchallengestable_paginate').hide();
            }
          },            
          rowCallback : function( row, full, index ) {
              if (full.winnerid) {
                if (full.reportconfirmed == 1) {

                  output_col_0 = '<a class="btn btn-sm btn-success disabled" href="#">Completed</a>';

                } else {
                  if (full.needtoconfirm == 1) {

                      output_col_0 = '<a data-toggle="modal" data-target="#challengeConfirmReportModal" data-remote="false" class="btn btn-sm btn-warning" href="{{SITEROOT}}/reportjson/'
                      + full.challengeid
                      + '">Confirm Report</a>';

                  } else {
                    output_col_0 = '<a class="btn btn-sm btn-success disabled" href="#">Already Reported</a>';
                  }
                }
              } else {
                output_col_0 = '<a data-toggle="modal" data-target="#challengeReportModal" data-remote="false" class="btn btn-sm btn-success" href="{{SITEROOT}}/reportjson/'
                  + full.challengeid
                  + '">Report</a>';
              }

              $('td:eq(0)', row).html( output_col_0 );

           }
      };

      reportchallengestable = $('#reportchallengestable').DataTable(reportchallengestableopts);

      var challengedetailstableopts =  {
          responsive : true,
          processing : true,
          ajax       : "start",
          columns    : [
            { "data"   : "acceptedby" },
            { "data"   : "acceptedat" },
            { "data"   : "status" },
            { "data"   : "" },
            { "data"   : "winner" },
            { "data"   : "score" },
          ],
          oLanguage: {
           sZeroRecords : "Nobody accepted yet",
           sProcessing  : "Reloading data from server..."
          },
          order        : [[ 1, "asc" ]],
          paging       : false,
          info         : false,
          searching    : false,
          initComplete : function () {
            //$('#challengedetailstable').show();
          },
          aoColumnDefs : [
            {
              targets: 2,
              render: function ( data, type, full, meta ) {
                if (full.status == "Not confirmed") {

                  output_col_2 = '<h4><span class="label label-warning">Not confirmed yet</span></h4>';

                } else if (full.status == "Confirmed") {

                  output_col_2 = '<h4><span class="label label-success">Confirmed</span></h4>';

                } else if (full.status == "Opponent cancelled") {

                  output_col_2 = '<h4><span class="label label-danger">Opponent cancelled</span></h4>';
                }

                return output_col_2;
              }
            },
            {
              targets: 3,
              render: function (data, type, full, meta) {

                var rndid = Math.floor(Math.random() * (1000 - 1));
                if (full.accancelnote) {
                  output_col_3 = '<a id="btntoggle" style="cursor: pointer;" data-toggle="collapse" data-target="#challengedetailsnotediv' + rndid + '"><span class="glyphicon glyphicon-plus-sign"></a></span><div style="max-width:100px;" id="challengedetailsnotediv' + rndid + '" class="wordwrap collapse">' + full.accancelnote + '</div>';

                } else {
                  output_col_3 = '<a id="btntoggle" style="cursor: pointer;"  data-toggle="collapse" data-target="#challengedetailsnotediv' + rndid + '"><span class="glyphicon glyphicon-plus-sign"></span></a><div style="max-width:100px;" id="challengedetailsnotediv' + rndid + '" class="wordwrap collapse">' + full.acceptednote + '</div>';

                }

                return output_col_3;
              }
            }
          ],
          rowCallback : function( row, full, index ) {
          }
      };

      var init = "";

      $('#reportchallengestablerefresh').on( 'click', function () {
          reportchallengestable.ajax.reload();
      });

      $("#challengeReportModal").on("show.bs.modal", function(e) {

          $('#reportFormSubmit').show();
          $('#loading2').hide();

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");
          init = elem1.html();
          //elem1.html("");
          //elem2.html("");

          loadingElem.show();

          var link = $(e.relatedTarget);
          var link_1 = link.attr("href");
          var link_2 = link_1.replace('details', 'confirmeddetails');

          var challenge_details = "";
          var form = "";

          $.get('{{SITEROOT}}/csrfgen').done(function (data) {
            $('#reportForm #csrfgen').html(data);


            $.getJSON( link_1 ).done( function(data) {
               console.log(data);
            })
            .done( function (data) {

                if (!data[0]) {
                    loadingElem.hide();
                    elem1.html('<h2 class="btn btn-danger">Cannot report this!<h2>')
                    return false;
                };

                if (data[0].winnerid) {
                    loadingElem.hide();
                    elem1.html('<h2 class="btn btn-success">Already reported!<h2>')
                    return false;
                };

                $('#retiredcheck').bootstrapSwitch();

                var data = data[0];
                var typeofmatch = -1;

                $('#retiredcheck').on('switchChange.bootstrapSwitch', function(event, state) {

                  if (state) {
                    $('#retirednotedetails').show();
                  } else {
                    $('#retirednotedetails').hide();
                    $('#retirednote').html("");
                  }
                });

                $('#reportForm #part2 #1stto7').on("click", function () {
                    $('#reportForm #part2 #1stto7').addClass('active');
                    $('#reportForm #part2 #bo3').removeClass('active');
                    $('#reportForm #part3a').show();
                    $('#reportForm #part3b').hide();
                    $('#reportForm #matchtype').attr("value", "1");
                    $('#reportForm #part4,#reportForm #part4a').show();
                });

                $('#reportForm #part2 #bo3').on("click", function () {
                    $('#reportForm #part2 #bo3').addClass('active');
                    $('#reportForm #part2 #1stto7').removeClass('active');
                    $('#reportForm #part3b').show();
                    $('#reportForm #part3a').hide();
                    $('#reportForm #matchtype').attr("value", "2");
                    $('#reportForm #part4,#reportForm #part4a').show();
                });

                $('#reportForm').attr('action', '{{SITEROOT}}/report/' + data.challengeid);
                $('#reportForm #part1 #player1').html(data.player1);
                $('#reportForm #part1 #player2').html(data.player2);

                $('#reportForm #part1 #player1').on("click", function () {
                    $('#reportForm #winnerid').attr("value", data.player1id);
                    $('#reportForm #part1 #player1').hide();
                    $('#reportForm #part1 #player2').hide();
                    $('#reportForm #part1 #pickawinner').html("Winner: " + data.player1);
                    $('#reportForm #part2').show();
                });

                $('#reportForm #part1 #player2').on("click", function () {
                    $('#reportForm #winnerid').attr("value", data.player2id);
                    $('#reportForm #part1 #player1').hide();
                    $('#reportForm #part1 #player2').hide();
                    $('#reportForm #part1 #pickawinner').html("Winner: " + data.player2);
                    $('#reportForm #part2').show();
                });

                $('#reportForm #part4a #next4a').on("click", function () {
                    $('#reportForm #part4').show();
                });

                $('#reportForm #part3a #loserscore').bind("propertychange click change keyup input paste", function () {
                    if ($(this).val() <= 6 && $(this).val() >= 0 && $(this).val() !== "") {
                      errorcount = 0;
                      $('#reportForm #part3a #errorDiv').html('');
                    } else {
                      if ($(this).val() !== "") {
                        errorcount++;
                        $('#reportForm #part3a #errorDiv').html('<h4><span class="label label-pill label-danger">Has to be between 0 and 6.</span></h4>');
                      } else {
                        errorcount++;
                      }
                    }
                })

                $('#reportForm').submit(function (e) {
                  e.preventDefault();

                  if (errorcount > 0 || ($('#reportForm #part3a #loserscore').val() == "" && $('#matchtype') == "1" )) {
                    if ($('#reportForm #part3a #loserscore').val() == "") {
                        $('#reportForm #part3a #errorDiv').html('<h4><span class="label label-pill label-danger">Has to be between 0 and 6.</span></h4>');
                    }

                    return false;
                  }


                  $('#loading2').show();
                  $('#reportFormSubmit').hide();

                  var $form = $( this );
                  var url = $form.attr( "action" );
                  var posting = $.post( url, $form.serialize() );

                  posting.done(function( data ) {
                    $('#reportForm #part4').html(data);
                    $('#loading2').hide();
                    $('#reportFormSubmit').show();
                  });
                });

                loadingElem.hide();
                $('#reportForm #part1').show();

            });
          });
      });

      $("#challengeDetailsModal").on("show.bs.modal", function(e) {

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");

          var challengedetailstable = $(this).find("#challengedetailstable");

          var challengedetails = $(this).find("#challengedetails");

          var challenge_date = $(this).find("#challengedate");
          var challenge_status = $(this).find("#challengestatus");
          var challenge_note = $(this).find("#challengenote");
          var challenge_note_label = $(this).find("#challengenotelabel");
          var challenged_division = $(this).find("#challengeddivision");
          var challenger = $(this).find("#challenger");
          var numofmatches = $(this).find("#numofmatches");
          var numofmatchestoplay = $(this).find("#numofmatchestoplay");

          elem1.hide();
          elem2.css('visibility', 'hidden');          

          loadingElem.show();

          var link = $(e.relatedTarget);
          var link_1 = link.attr("href");
          var link_2 = link_1.replace('details2', 'infojson');

          var challenge_details = "";
          var form = "";

          if ( ! $.fn.DataTable.isDataTable( '#' + tablename_1 ) ) {

            challengedetailstableopts.ajax = link_2;
            challengedetailstableDT = $( '#' + tablename_1 ).DataTable(challengedetailstableopts);

            challengedetailstableDT.on( 'responsive-display', function ( e, datatable, row, showHide, update ) {

                $('li[data-dtr-index="3"] span.dtr-data').css('max-width', '200px');
                $('li[data-dtr-index="3"] span.dtr-title').css('display', 'block');
                $('li[data-dtr-index="3"] span.dtr-data').css('display', 'inline-block');
                $('li[data-dtr-index="3"] span.dtr-data').addClass('wordwrap');

                if (row.data().accancelnote) {
                  $('li[data-dtr-index="3"] span.dtr-data').html(row.data().accancelnote);
                } else {
                  $('li[data-dtr-index="3"] span.dtr-data').html(row.data().acceptednote);
                }
              
            } );

            challengedetailstableDT.on( 'xhr', function () {
              challengedetailsjson = challengedetailstableDT.ajax.json();
              numofmatchestoplay.html(challengedetailsjson.matchesconfirmed);

            } );

          } else {

            challengedetailstableDT.clear().draw();
            challengedetailstableDT.ajax.url( link_2 );
            challengedetailstableDT.ajax.reload(function () {
              challengedetailsjson = challengedetailstableDT.ajax.json();
              numofmatchestoplay.html(challengedetailsjson.matchesconfirmed);
            });

          }

          $.getJSON( link_1 )
           .done( function(data) {

              challenge_details = data;
              if (challenge_details.status == 'Ready') {

                challenge_note.html(challenge_details.data.challengenote);
                challenge_note_label.html('<label>Note:</label>');
                challenge_status.html('<h4><span class="label label-success">' + challenge_details.status + '</span></h4>');

              } else if (challenge_details.status == 'Cancelled') {

                challenge_note.html(challenge_details.data.cancelnote);
                challenge_note_label.html('<label>Cancel note:</label>');
                challenge_status.html('<h4><span class="label label-danger">' + challenge_details.status + '</span></h4>');

              }

              challenge_date.html(challenge_details.data.challengedate);
              challenger.html(challenge_details.data.challenger);
              challenged_division.html(challenge_details.data.challengeddivision);

              numofmatches.html(challenge_details.data.numofmatches);


            })
              .done( function () {

                  loadingElem.hide();
                  elem1.show();

              });
      });


      $("#challengeDetailsModal").on("shown.bs.modal", function(e) {

          var elem2 = $(this).find(".modal-body-inner2");

          if ( $.fn.DataTable.isDataTable( '#' + tablename_1 ) ) {
            $('#' + tablename_1 ).DataTable()
            .columns.adjust()
            .responsive.recalc();
          }  

          elem2.css('visibility', '');
      });

      $("#challengeConfirmReportModal").on("show.bs.modal", function(e) {

        var loadingElem = $(this).find("#loading1");
        var loadingElem2 = $(this).find("#loading2");
        var elem1 = $(this).find(".modal-body-inner1");
        var elem2 = $(this).find(".modal-body-inner2");
        init = elem1.html();

        loadingElem2.hide();
        loadingElem.show();

        var link = $(e.relatedTarget);
        var link_1 = link.attr("href");
        var link_2 = link_1.replace('details', 'confirmeddetails');

        var challenge_details = "";
        var form = "";

        $.get('{{SITEROOT}}/csrfgen').done(function (data) {
          $('#reportConfirmForm #csrfgen').html(data);


          $.getJSON( link_1 ).done( function(data) {
             //var data = data;
          })
          .done( function (data) {
              data = data[0];

              if (data.reportconfirmed == 1) {
                elem1.html('<h3><span class="label label-pill label-danger">Report already confirmed!</span></h3>');
                loadingElem.hide();
                return false;
              };

              $('#correctcheck').bootstrapSwitch('state', true, true);
              $('#correctcheck').on('switchChange.bootstrapSwitch', function(event, state) {

                if (state) {
                  $('#reportConfirmForm #confirmreportbutton').show();
                  $('#reportConfirmForm #denyreportbutton').hide();
                  $('#reportConfirmForm #incorrectdetails').hide();
                } else {
                  $('#reportConfirmForm #confirmreportbutton').hide();
                  $('#reportConfirmForm #denyreportbutton').show();
                  $('#reportConfirmForm #incorrectdetails').show();
                }
              });

              $('#reportConfirmForm #winner').html("<h3>Winner: " + data.winner + "</h3>");
              $('#reportConfirmForm #winner').show();
              $('#correctcheck').show();

              if (data['matchtype'] == 1) {
                $('#reportConfirmForm #matchtype').html("<h3>Match type: 1st to 7 games.</h3>");
              } else {
                $('#reportConfirmForm #matchtype').html("<h3>Match type: Best of 3 sets.</h3>");
              }
              $('#reportConfirmForm #matchtype').show();

              $('#reportConfirmForm #score').html("<h3>Score: " + data.score + "</h3>");
              $('#reportConfirmForm #score').show();

              $('#reportConfirmForm #everythingcorrectcheck').show();
              $('#reportConfirmForm #confirmdenybuttons').show();

              if (data['retired']) {
                $('#reportConfirmForm #opponentretired #retiredcheck').html('<h3>Opponent retired</h3>');
                $('#reportConfirmForm #opponentretired #retirednotedetails').html('Note: ' + data.retirednote);
                $('#reportConfirmForm #opponentretired').show();
              }

              $('#reportConfirmForm').attr('action', '{{SITEROOT}}/confirmreport/' + data.challengeid);

              $('#reportConfirmForm').submit(function (e) {
                  e.preventDefault();

                  var $form = $( this );
                  var url = $form.attr( "action" );
                  var posting = $.post( url, $form.serialize() );

                  loadingElem2.show();
                  $('#confirmdenybuttons').hide();

                  posting.done(function( data ) {
                    loadingElem2.hide();
                    $('#reportConfirmForm #reportResult').html(data);
                    $('#reportConfirmForm #reportResult').show();
                  });
                });

              loadingElem.hide();
          });
        });
      });

      $("#challengeReportModal, #challengeConfirmReportModal")
       .on("hide.bs.modal", function(e) {
          $(this).find(".modal-body-inner1").html(init);
          reportchallengestable.ajax.reload();
      });
    });

  </script>

{% endblock js %}