{% extends 'templates/default.twig' %}
{% use 'nav.inc' %}

{% block head %}

{{parent()}}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css">

{% endblock head %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

{% block nav %}
  {{ parent() }}
{% endblock nav %}

    </div>
    <div class="col-md-8">
      <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">
          {% if not ( auth.user.divisionprimary or auth.user.divisionsecondary )%}

          {% else %}

              <h2><strong>Create a challenge (select players)</strong></h2>

           {% endif %}
            </div>
          </div>

          <!-- Panel body -->
          <div class="panel-body">
          {% if not ( auth.user.divisionprimary or auth.user.divisionsecondary )%}
            <h2>You must join at least 1 division before you can challenge. You can do so in your profile.</h2>

          {% else %}
            {% if step %}
              Step 2.
              {{ type }}
            {% else %}
          <div class="container">
            <div class="row">
              <div class="col-md-8">

              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="span4 well">
        {% if flash.getMessages() %}
          {% for k, messages in flash.getMessages() %}
            {% for message in flash.getMessages()[k] %}
              {% if k == 'global' %}
                <div class="alert alert-success">{{ message }}</div>
              {% else %}
                <div class="alert alert-danger">{{ message }}</div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}

              <form method="post" action="{{ path_for('challenge.create.specific.post') }}">
                <input type="hidden" name="challengeInDivision" value="{{ challengeInDivision }}">
                <label for="challengedate">Select a date:</label>
                <input class="date form-control" type="text" data-date-end-date="+14d" name="challengedate" id="challengedate" placeholder="date within 14 days from today" value="{{ session.challengedate }}">
              <label for="challengenote">Note:</label>
              <textarea class="form-control" maxlegth="200" rows="10" cols="40" name="challengenote" id="challengenote" placeholder="Details of the challenge, such as number of matches, start time, etc.">{{ session.challengenote }}</textarea>
               <br /> <h6 class="pull-right" id="count_message"></h6>

               <br />
               <h4>Division: {{ gen.getDivNameByID(challengeInDivision) }}</h4>
               Select players: <input type="checkbox" id="selecctallplayers"/> Select all

               <br />
               {{ gen.players_table_checkboxes( challengeInDivision, session.checkedids ) | raw }}
              <input type="submit" class="btn btn-primary" value="Create challenge">

              {% include 'auth/csrf.inc' %}
        </form>
        </div>
        </div>
        </div>

            <div class="row"><div class="col-md-3">&nbsp;</div></div>
            <div class="row"><div class="col-md-3">&nbsp;</div></div>

            <div class="row">
              <div class="col-md-3">            </div>
            </div>

          {% endif %}
          {% endif %}
          </div>

    </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">

$( document ).ready(function() {

  $("#selecctallplayers").change(function(){
    $(".players").prop('checked', $(this).prop("checked"));
  });

  var text_max = 200;
  $('#count_message').html(text_max + ' characters remaining');

  $('#challengenote').keyup(function() {
    var text_length = $('#challengenote').val().length;
    var text_remaining = text_max - text_length;

    $('#count_message').html(text_remaining + ' characters remaining');
  });

  $('#challengedate').datepicker({
      startDate: "today",
      todayHighlight: true,
      toggleActive: true,
      orientation: "bottom auto",
      disableTouchKeyboard: true,

  });

});

</script>


{% endblock js %}