{% extends 'templates/default.twig' %}
{% use 'nav.inc' %}

{% block head %}

  {{parent()}}
  <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/responsive.dataTables.min.css">
{% endblock head %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
          {% if flash.getMessages() %}
            {% for k, messages in flash.getMessages() %}
              {% for message in flash.getMessages()[k] %}
                {% if k == 'global' %}
                  <div class="alert alert-success">{{ message }}</div>
                {% else %}
                  <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}

          {% block nav %}
          {{ parent() }}
          {% endblock nav %}
      </div>
      <div class="col-md-8">
        <div class="panel">
          <div class="panel-body">
            <h2><strong>My Challenges</strong><a alt="Refresh" class="btn btn-sm" title="Refresh" id="challengesmytablerefresh"><img src="{{SITEROOT}}/res/img/reload.png"></a></h2>

            <table id="challengesmytable" class="display nowrap table table-bordered table-striped table-condensed table-hover" style="width: 100% !important;">
              <thead>
                <tr>
                  <th></th>
                  <th>Date</th>
                  <th>Division</th>
                  <th># Acc/Conf/Can</th>
                  <th># challenged</th>
                </tr>
              </thead>
            </table>

            <h2><strong>Challenges Accepted by Me</strong><a alt="Refresh" class="btn btn-sm" title="Refresh" id="acceptedchallengesmytablerefresh"><img src="{{SITEROOT}}/res/img/reload.png"></a></h2>

            <table id="acceptedchallengesmytable" class="display table table-bordered table-striped table-condensed table-hover" style="width: 100% !important;">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Date</th>
                  <th>VS</th>
                  <th>Division</th>
                </tr>
              </thead>
            </table>

            <h2><strong>My Challenges Status <a alt="Refresh" class="btn btn-sm" title="Refresh" id="mychallengesstatustablerefresh"><img src="{{SITEROOT}}/res/img/reload.png"></a></strong></h2>

            <table id="mychallengesstatustable" class="display nowrap table table-bordered table-striped table-condensed table-hover" style="width: 100% !important;">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Date</th>
                  <th>Accepted By</th>
                  <th>Division</th>
                  <th># challenged</th>
                </tr>
              </thead>
            </table>
        	</div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

  <div id="challengeDetailsModal2" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-primary" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Challenge Details</h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
                <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1"></div>
          <div class="modal-body-inner2"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="challengeDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-success" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Challenge details</h4>
        </div>
        <div class="modal-body">
          <div id="loading1">
            <img src="{{SITEROOT}}/res/img/loader.gif">
          </div>
          <div class="modal-body-inner1">
            <table id="challengedetails"
                   class="compact table-condensed borderless"
                   width="100%">
              <tbody>
                <tr><td><label>Status:</label></td><td id="challengestatus"></td></tr>
                <tr><td><label>Date:</label></td><td id="challengedate"></td></tr>
                <tr><td><label>Challenger:</label></td><td id="challenger"></td></tr>
                <tr><td><label>Division:</label></td><td id="challengeddivision"></td></tr>
                <tr><td><label># of matches:</label></td><td id="numofmatches"></td></tr>
                <tr><td><label># to play:</label></td><td id="numofmatchestoplay"></td></tr>
                <tr><td id="challengenotelabel"><label>Note:</label></td><td style="max-width:150px;" class="wordwrap" id="challengenote"></td></tr>
              </tbody>
            </table>
          </div>
          <div class="modal-body-inner2">
            <table id="challengedetailstable"
                     class="display compact table table-bordered table-striped table-condensed table-hover"
                     cellspacing="0"
                     width="100%">
                  <thead>
                    <tr>
                      <th>Accepted by</th>
                      <th>Accepted at</th>
                      <th>Status</th>
                      <th id="challengedetailsnote">Note</th>
                    </tr>
                  </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="confirmModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-warning" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Confirm a challenge</strong></h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
                <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1">
            <table id="challengedetails" class="table-condensed borderless" cellspacing="0" width="100%">
              <tbody>
                <tr><td><label>Status:</label></td><td id="challengestatus"></td></tr>
                <tr><td><label>Date:</label></td><td id="challengedate"></td></tr>
                <tr><td><label>Challenger:</label></td><td id="challenger"></td></tr>
                <tr><td><label>VS:</label></td><td id="vschallenger"></td></tr>
                <tr><td><label>Division:</label></td><td id="challengeddivision"></td></tr>
                <tr><td><label># of matches:</label></td><td id="numofmatches"></td></tr>
                <tr><td><label># to play:</label></td><td id="numofmatchestoplay"></td></tr>
                <tr><td id="challengenotelabel"><label>Note:</label></td><td style="max-width:200px;" class="wordwrap" id="challengenote"></td></tr>
                <tr><td id="challengeacceptnotelabel"><label>Accept Note:</label></td><td style="max-width:200px;" class="wordwrap" id="challengeacceptnote"></td></tr>
              </tbody>
            </table>
          </div>
          <div class="modal-body-inner2"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="deleteModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-danger" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Delete challenge?</strong></h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
                <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1">
            <table id="challengedetails" class="table-condensed borderless" cellspacing="0" width="100%">
              <tbody>
                <tr><td><label>Status:</label></td><td id="challengestatus"></td></tr>
                <tr><td><label>Date:</label></td><td id="challengedate"></td></tr>
                <tr><td><label>Challenger:</label></td><td id="challenger"></td></tr>
                <tr><td><label>Division:</label></td><td id="challengeddivision"></td></tr>
                <tr><td><label># of matches:</label></td><td id="numofmatches"></td></tr>
                <tr><td><label># to play:</label></td><td id="numofmatchestoplay"></td></tr>
                <tr><td id="challengenotelabel"><label>Note:</label></td><td style="max-width:150px;" class="wordwrap" id="challengenote"></td></tr>
              </tbody>
            </table>
          </div>
          <div class="modal-body-inner2">
          </div>
          <div class="modal-body-inner3">
            <table id="challengedetailstable"
                     class="display compact table table-bordered table-striped table-condensed table-hover"
                     cellspacing="0"
                     width="100%">
                  <thead>
                    <tr>
                      <th>Accepted by</th>
                      <th>Accepted at</th>
                      <th>Status</th>
                      <th id="challengedetailsnote">Note</th>
                    </tr>
                  </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="cancelModal2" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-danger" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Cancel challenge?</strong></h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
                <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1"></div>
          <div class="modal-body-inner2"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="cancelAcceptedModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-danger" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Cancel accepted challenge?</strong></h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
              <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1">
            <table id="challengedetails"
                   class="table-condensed borderless"
                   width="100%">
              <tbody>
                <tr><td><label>Status:</label></td><td id="challengestatus"></td></tr>
                <tr><td><label>Date:</label></td><td id="challengedate"></td></tr>
                <tr><td><label>Challenger:</label></td><td id="challenger"></td></tr>
                <tr><td><label>Division:</label></td><td id="challengeddivision"></td></tr>
                <tr><td><label># of matches:</label></td><td id="numofmatches"></td></tr>
                <tr><td><label># to play:</label></td><td id="numofmatchestoplay"></td></tr>
                <tr><td id="challengenotelabel"><label>Note:</label></td><td style="max-width:150px;" class="wordwrap" id="challengenote"></td></tr>
              </tbody>
            </table>
          </div>
          <div class="modal-body-inner2">
          </div>
          <div class="modal-body-inner3">
            <table id="challengedetailstable"
                     class="display compact table table-bordered table-striped table-condensed table-hover"
                     cellspacing="0"
                     width="100%">
                  <thead>
                    <tr>
                      <th>Accepted by</th>
                      <th>Accepted at</th>
                      <th>Status</th>
                      <th id="challengedetailsnote">Note</th>
                    </tr>
                  </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="cancelModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-danger" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Cancel accepted challenge?</strong></h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
              <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1">
            <table id="challengedetails"
                   class="table-condensed borderless"
                   width="100%">
              <tbody>
                <tr><td><label>Status:</label></td><td id="challengestatus"></td></tr>
                <tr><td><label>Date:</label></td><td id="challengedate"></td></tr>
                <tr><td><label>Challenger:</label></td><td id="challenger"></td></tr>
                <tr><td><label>Division:</label></td><td id="challengeddivision"></td></tr>
                <tr><td><label># of matches:</label></td><td id="numofmatches"></td></tr>
                <tr><td><label># to play:</label></td><td id="numofmatchestoplay"></td></tr>
                <tr><td id="challengenotelabel"><label>Note:</label></td><td style="max-width:150px;" class="wordwrap" id="challengenote"></td></tr>
              </tbody>
            </table>
          </div>
          <div class="modal-body-inner2">
          </div>
          <div class="modal-body-inner3">
            <table id="challengedetailstable"
                     class="display compact table table-bordered table-striped table-condensed table-hover"
                     cellspacing="0"
                     width="100%">
                  <thead>
                    <tr>
                      <th>Accepted by</th>
                      <th>Accepted at</th>
                      <th>Status</th>
                      <th id="challengedetailsnote">Note</th>
                    </tr>
                  </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block js %}

  <script type="text/javascript" src="{{SITEROOT}}/res/js/datatables.min.js"></script>
  <script type="text/javascript" src="{{SITEROOT}}/res/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript">

    $(document).ready(function() {

      var siteroot = '{{ SITEROOT }}';
      var tablename_0 = 'challengedetailstable';

      wwidth = 0;

      $( window ).resize(function() {

        if ( Math.abs(wwidth - $( window ).width()) > 25) {
          wwidth = $( window ).width();
          if ( $.fn.DataTable.isDataTable( '#' + tablename_0 ) ) {
            $('#' + tablename_0 ).DataTable()
            .columns.adjust()
            .responsive.recalc();
          }
        }
      });

      var challengesmytableopts = {
           responsive: true,
           processing: true,
           ajax: "{{ path_for('challenges2.my.get.json')}}",
           columns: [
             { "data" : "challengeid" }, // 0
             { "data" : "challengedate" },
             { "data" : "challengeddivision" },
             { "data" : "numofacceptedchallenges" },
             { "data" : "numofplayers" }, // 4 hide rest
             { "data" : "numofconfirmedchallenges" },
             { "data" : "numofcancelledchallenges" },
             { "data" : "challengenote" },
             { "data" : "challengecreatedat" },
             { "data" : "cancelnote" },
             { "data" : "confirmed" }, // 10
           ],
           oLanguage: {
            sZeroRecords : "Nothing to show"
           },
           order: [[ 1, "desc" ]],
           paging:   false,
           info:     true,
           searching: false,
           initComplete: function () {
           },
           columnDefs : [
              {
                  targets   : [ 5,6,7,8,9,10 ],
                  visible    : false,
                  searchable : false
              },
              {
                  targets: [ 1 ],
                  render : function (data, type, full, meta) {
                      output_col_1 = '<a href="{{SITEROOT}}/challenge/details2/' + full.challengeid +
                                  '" data-toggle="modal" \
                                     data-target="#challengeDetailsModal" \
                                     data-remote="false" \
                                     class="btn btn-sm btn-primary">' + full.challengedate + '</a>';
                      return output_col_1;
                  },
              },
              {
                  targets: [ 3 ],
                  render : function (data, type, full, meta) {
                    output_col_3 = '<a class="btn disabled btn-sm btn-warning"> ' + full.numofacceptedchallenges + ' </a> / '
                        + '<a class="btn disabled btn-sm btn-success"> ' + full.numofconfirmedchallenges + ' </a> / '
                        + '<a class="btn disabled btn-sm btn-danger"> ' + full.numofcancelledchallenges + ' </a>';
                    return output_col_3;
                  },
              },
              {
                  targets: [ 4 ],
                  render : function (data, type, full, meta) {
                    full.numofplayers = (full.numofplayers ? full.numofplayers : 'all');
                    return full.numofplayers;
                  },
              }
           ],
           rowCallback : function( row, full, index ) {

              if (full.confirmed == 1 ) {

                if (full.cancelnote) {

                  output_col_0 = '<a class="btn btn-sm btn-danger disabled">Cancelled</a>';

                } else {

                  if (full.numofreportedchallenges > 0) {

                    output_col_0 = '<a class="btn btn-sm btn-info disabled">Cancel</a>';

                  } else {

                    output_col_0 = '<a data-loaded="false" data-toggle="modal" data-target="#cancelModal"'
                    +' data-remote="false" '
                    +' data-related-challengeid="'+ full.challengeid + '"'
                    +' class="btn btn-sm btn-info" href="{{SITEROOT}}/challenge/cancel/'
                    + full.challengeid
                    + '">Cancel</a>';
                  }

                }

              } else {

               output_col_0 = '<a data-toggle="modal" data-target="#deleteModal" data-remote="false" class="btn btn-sm btn-warning" href="{{SITEROOT}}/challenge/delete/'
                  + full.challengeid
                  + '">Delete</a>';

              }

              // output_col_1 = '<a href="{{SITEROOT}}/challenge/details/' + full.challengeid +
              //             '" data-toggle="modal" \
              //                data-target="#challengeDetailsModal" \
              //                data-remote="false" \
              //                class="btn btn-sm btn-primary">' + full.challengedate + '</a>';

              // output_col_3 = '<a class="btn disabled btn-sm btn-warning"> ' + full.numofacceptedchallenges + ' </a> / '
              //     + '<a class="btn disabled btn-sm btn-success"> ' + full.numofconfirmedchallenges + ' </a> / '
              //     + '<a class="btn disabled btn-sm btn-danger"> ' + full.numofcancelledchallenges + ' </a>';

              // full.numofplayers = (full.numofplayers ? full.numofplayers : 'all');

              $('td:eq(0)', row).html( output_col_0 );
              //$('td:eq(1)', row).html( output_col_1 );
              //$('td:eq(3)', row).html( output_col_3 );
              //$('td:eq(4)', row).html( full.numofplayers );

           }
      };

      var acceptedchallengesmytableopts = {
           responsive: true,
           processing: true,
           ajax: "{{ path_for('acceptedchallenges2.my.get.json')}}",
           columns: [
             { "data" : "challengeid" },
             { "data" : "challengedate" },
             { "data" : "challenger" },
             { "data" : "challengeddivision" },
             { "data" : "confirmed" },
             { "data" : "acceptedchallengeid" },
             { "data" : "challengenote" },
             { "data" : "winnerid" },
             { "data" : "reportconfirmed" },
             { "data" : "cancelnote" },
           ],
           oLanguage: {
            sZeroRecords : "You did not accept any challenges... "
           },
           order: [[ 1, "desc" ]],
           paging:   false,
           info:     true,
           searching: false,
           initComplete: function () {
           },
           columnDefs : [
              {
                  targets   : [ 4,5,6,7,8,9 ],
                  visible    : false,
                  searchable : false
              },
              {
                  targets : [ 1 ],
                  render: function ( data, type, full, meta ) {
                    output_col_1 = '<a href="{{SITEROOT}}/challenge/details2/' + full.challengeid +
                          '" data-toggle="modal" \
                             data-target="#challengeDetailsModal" \
                             data-remote="false" \
                             class="btn btn-sm btn-primary">' + full.challengedate + '</a>';
                    return output_col_1;
                  }

              },
           ],
           rowCallback : function( row, full, index ) {

            if (full.reportedbyuserid || full.reportconfirmed) {

              if (full.reportedbyuserid && !full.reportconfirmed) {
                output_col_0 = '<a class="btn btn-sm btn-info disabled">Reported</a>';
              } else if (full.reportedbyuserid && full.reportconfirmed){
                output_col_0 = '<a class="btn btn-sm btn-success disabled">Completed</a>';
              } else {
                output_col_0 = '<a class="btn btn-sm btn-danger disabled">(unknown)</a>';
              }

            } else {

              if (full.cancelnote && full.accancelnote) {
                  output_col_0 = '<a class="btn btn-sm btn-danger disabled">Cancelled (both)</a>';
              } else if (full.cancelnote) {
                  output_col_0 = '<a class="btn btn-sm btn-danger disabled">Cancelled (opponent)</a>';
              } else if (full.accancelnote) {
                  output_col_0 = '<a class="btn btn-sm btn-danger disabled">Cancelled (you)</a>';
              } else {

                if (full.confirmed == 1) {

                  output_col_0 = '<div class="btn-group" role="group" aria-label="Confirmed and Cancel"><a class="btn btn-sm btn-success disabled">Confirmed</a><a data-toggle="modal" data-target="#cancelAcceptedModal" data-remote="false" class="btn btn-sm btn-warning" data-related-challengeid="' + full.challengeid + '"  href="{{SITEROOT}}/challenge/cancelaccepted/'
                    + full.acceptedchallengeid
                    + '">Cancel</a></div>';

                }  else {

                  output_col_0 = '<a data-isloaded="false" data-toggle="modal" data-target="#cancelAcceptedModal" data-remote="false" class="btn btn-sm btn-warning" data-related-challengeid="' + full.challengeid + '"  href="{{SITEROOT}}/challenge/cancelaccepted/'
                    + full.acceptedchallengeid
                    + '">Cancel</a>';

                }
              }
            }

            $('td:eq(0)', row).html( output_col_0 );

           }
      };

      var challengesstatusmytableopts = {
           responsive: true,
           processing: true,
           ajax: "{{ path_for('challengesstatus2.my.get.json')}}",
           columns: [
             { "data" : "challengeid" },
             { "data" : "challengedate" },
             { "data" : "acceptedby" },
             { "data" : "challengeddivision" },
             { "data" : "numofplayers" },
             { "data" : "acceptedchallengeid" },
             { "data" : "challengenote" },
             { "data" : "confirmed" },
             { "data" : "cancelnote" },
           ],
           oLanguage: {
            sZeroRecords : "Nobody accepted your challenges yet ..."
           },
           order: [[ 1, "desc" ]],
           paging:   false,
           info:     true,
           searching: false,
           initComplete: function () {
           },
           columnDefs : [
              {
                  targets : 4,
                  render : function (data, type, full, meta) {
                    full.numofplayers = (full.numofplayers ? full.numofplayers : 'all');
                    return full.numofplayers;
                  },
                  searchable : false,
              },
              {
                  targets   : [ 5,6,7,8 ],
                  visible    : false,
                  searchable : false
              }
           ],
           rowCallback : function( row, full, index ) {
              if (full.accancelnote) {

                output_col_0 = '<a class="btn btn-sm btn-danger disabled" href="">Cancelled (opponent)</a>';

              } else {

                if (full.confirmed == 1) {

                    output_col_0 = '<a class="btn btn-sm btn-success disabled" href="">Confirmed</a>';

                } else {

                    output_col_0 = '<a data-toggle="modal" ' +
                    'data-target="#confirmModal" ' +
                    'data-remote="false" ' +
                    'data-related-challengeid="' + full.challengeid + '" ' +
                    'data-acchallengeid="' + full.acceptedchallengeid + '" ' +
                    'class="btn btn-sm btn-warning" ' +
                    'href="{{SITEROOT}}/challenge/confirm/' +
                    full.acceptedchallengeid +
                    '">Confirm</a>';

                }
              }

              $('td:eq(0)', row).html( output_col_0 );

           }
      };

      var challengedetailstableopts =  {
          responsive : true,
          processing : true,
          ajax       : "start",
          columns    : [
            { "data"   : "acceptedby" },
            { "data"   : "acceptedat" },
            { "data"   : "status" },
            { "data"   : "" },
          ],
          oLanguage: {
           sZeroRecords : "Nobody accepted yet",
           sProcessing  : "Reloading data from server..."
          },
          order        : [[ 1, "asc" ]],
          paging       : false,
          info         : false,
          searching    : false,
          initComplete : function () {
            //$('#challengedetailstable').show();
          },
          aoColumnDefs : [
            {
              targets: 2,
              render: function ( data, type, full, meta ) {

                if (full.reportstatus) {

                  output_col_2 = '<h4><span class="label label-success">'+ full.reportstatus +'</span></h4>';

                } else {

                  if (full.status == "Not confirmed") {

                    output_col_2 = '<h4><span class="label label-warning">Not confirmed yet</span></h4>';

                  } else if (full.status == "Confirmed") {

                    output_col_2 = '<h4><span class="label label-success">Confirmed</span></h4>';

                  } else if (full.status == "Opponent cancelled") {

                    output_col_2 = '<h4><span class="label label-danger">Opponent cancelled</span></h4>';
                  }
                }

                return output_col_2;
              }
            },
            {
              targets: 3,
              render: function (data, type, full, meta) {

                var rndid = Math.floor(Math.random() * (1000 - 1));
                if (full.accancelnote) {
                  output_col_3 = '<a id="btntoggle" style="cursor: pointer;" data-toggle="collapse" data-target="#challengedetailsnotediv' + rndid + '"><span class="glyphicon glyphicon-plus-sign"></a></span><div style="max-width:100px;" id="challengedetailsnotediv' + rndid + '" class="wordwrap collapse">' + full.accancelnote + '</div>';

                } else {
                  output_col_3 = '<a id="btntoggle" style="cursor: pointer;"  data-toggle="collapse" data-target="#challengedetailsnotediv' + rndid + '"><span class="glyphicon glyphicon-plus-sign"></span></a><div style="max-width:100px;" id="challengedetailsnotediv' + rndid + '" class="wordwrap collapse">' + full.acceptednote + '</div>';

                }

                return output_col_3;
              }
            }
          ],
          rowCallback : function( row, full, index ) {
          }
      };

      challengesmytable = $('#challengesmytable').DataTable(challengesmytableopts);
      acceptedchallengesmytable = $('#acceptedchallengesmytable').DataTable(acceptedchallengesmytableopts);
      challengesstatusmytable = $('#mychallengesstatustable').DataTable(challengesstatusmytableopts);

      $('#challengesmytablerefresh').on( 'click', function () {
          challengesmytable.ajax.reload();
      } );

      $('#acceptedchallengesmytablerefresh').on( 'click', function () {
          acceptedchallengesmytable.ajax.reload();
      } );

      $('#mychallengesstatustablerefresh').on( 'click', function () {
          challengesstatusmytable.ajax.reload();
      } );

      $("#challengeDetailsModal2").on("show.bs.modal", function(e) {

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");
          elem1.html("");
          elem2.html("");

          loadingElem.show();

          var link = $(e.relatedTarget);
          var link_1 = link.attr("href");
          var link_2 = link_1.replace('details', 'confirmeddetails');

          var challenge_details = "";
          var form = "";

          $.get( link_2 ).done( function(data) {
              form = data;
          })
          .done( function () {
              elem2.prepend(form);
          })
              .done( function () {

                  $.get( link_1 ).done( function(data) {
                      challenge_details = data;
                  })
                      .done( function () {
                          elem1.prepend(challenge_details);
                          loadingElem.hide();
                      });

              });
      });

      $("#challengeDetailsModal").on("show.bs.modal", function(e) {

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");
          elem2.css('visibility', 'hidden');

          var challengedetailstable = $(this).find("#challengedetailstable");

          var challengedetails = $(this).find("#challengedetails");

          var challenge_date = $(this).find("#challengedate");
          var challenge_status = $(this).find("#challengestatus");
          var challenge_note = $(this).find("#challengenote");
          var challenge_note_label = $(this).find("#challengenotelabel");
          var challenged_division = $(this).find("#challengeddivision");
          var challenger = $(this).find("#challenger");
          var numofmatches = $(this).find("#numofmatches");
          var numofmatchestoplay = $(this).find("#numofmatchestoplay");

          elem1.hide();
          //elem2.hide();

          loadingElem.show();

          var link = $(e.relatedTarget);
          var link_1 = link.attr("href");
          var link_2 = link_1.replace('details2', 'infojson');

          var challenge_details = "";
          var form = "";

          if ( ! $.fn.DataTable.isDataTable( '#' + tablename_0 ) ) {

            challengedetailstableopts.ajax = link_2;
            challengedetailstableDT = $( '#' + tablename_0 ).DataTable(challengedetailstableopts);

            challengedetailstableDT.on( 'responsive-display', function ( e, datatable, row, showHide, update ) {
                $('li[data-dtr-index="3"] span.dtr-data').css('max-width', '200px');
                $('li[data-dtr-index="3"] span.dtr-title').css('display', 'block');
                $('li[data-dtr-index="3"] span.dtr-data').css('display', 'inline-block');
                $('li[data-dtr-index="3"] span.dtr-data').addClass('wordwrap');

                if (row.data().accancelnote) {
                  $('li[data-dtr-index="3"] span.dtr-data').html(row.data().accancelnote);
                } else {
                  $('li[data-dtr-index="3"] span.dtr-data').html(row.data().acceptednote);
                }
            } );

            challengedetailstableDT.on( 'xhr', function () {
              challengedetailsjson = challengedetailstableDT.ajax.json();
              numofmatchestoplay.html(challengedetailsjson.matchesconfirmed);
            } );

          } else {

            challengedetailstableDT.clear().draw();
            challengedetailstableDT.ajax.url( link_2 );
            challengedetailstableDT.ajax.reload(function () {
              challengedetailsjson = challengedetailstableDT.ajax.json();

              // if (challengedetailsjson.data.length == 0) {
              //     $("#challengedetailstable").hide();
              // } else {
              //     $("#challengedetailstable").show();
              // }

              numofmatchestoplay.html(challengedetailsjson.matchesconfirmed);
            });

          }



          $.getJSON( link_1 )
           .done( function(data) {

              challenge_details = data;
              if (challenge_details.status == 'Ready') {

                challenge_note.html(challenge_details.data.challengenote);
                challenge_note_label.html('<label>Note:</label>');
                challenge_status.html('<h4><span class="label label-success">' + challenge_details.status + '</span></h4>');

              } else if (challenge_details.status == 'Cancelled') {

                challenge_note.html(challenge_details.data.cancelnote);
                challenge_note_label.html('<label>Cancel note:</label>');
                challenge_status.html('<h4><span class="label label-danger">' + challenge_details.status + '</span></h4>');

              }

              challenge_date.html(challenge_details.data.challengedate);
              challenger.html(challenge_details.data.challenger);
              challenged_division.html(challenge_details.data.challengeddivision);


              numofmatches.html(challenge_details.data.numofmatches);


            })
              .done( function () {

                  loadingElem.hide();
                  //challengedetails.show();
                  elem1.show();
                  //elem2.show();

              });
      });

      $("#confirmModal").on("show.bs.modal", function(e) {

          var challengedetails = $(this).find("#challengedetails");
          var challenge_date = $(this).find("#challengedate");
          var challenge_status = $(this).find("#challengestatus");
          var challenge_note = $(this).find("#challengenote");
          var challenge_acceptnote = $(this).find("#challengeacceptnote");
          var challenge_note_label = $(this).find("#challengenotelabel");
          var challenged_division = $(this).find("#challengeddivision");
          var challenger = $(this).find("#challenger");
          var vschallenger = $(this).find("#vschallenger");
          var numofmatches = $(this).find("#numofmatches");
          var numofmatchestoplay = $(this).find("#numofmatchestoplay");

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");
          //elem1.html("");
          elem1.hide();
          elem2.html("");
          loadingElem.show();

          var challenge_details = "";
          var form = "";

          var link = $(e.relatedTarget);

          var link_1 = link.attr("href");
          var link_details = siteroot + '/challenge/details2/'
              + link.attr("data-related-challengeid")
              + '?moreInfoACChallenge=' + link.attr("data-acchallengeid");

          $.getJSON( link_details )
           .done( function(data) {

              challenge_details = data;
              if (challenge_details.status == 'Ready') {

                challenge_note.html(challenge_details.data.challengenote);
                challenge_note_label.html('<label>Note:</label>');
                challenge_status.html('<h4><span class="label label-success">' + challenge_details.status + '</span></h4>');

              } else if (challenge_details.status == 'Cancelled') {

                challenge_note.html(challenge_details.data.cancelnote);
                challenge_note_label.html('<label>Cancel note:</label>');
                challenge_status.html('<h4><span class="label label-danger">' + challenge_details.status + '</span></h4>');

              }

              challenge_date.html(challenge_details.data.challengedate);
              challenger.html(challenge_details.data.challenger);
              challenged_division.html(challenge_details.data.challengeddivision);
              vschallenger.html(challenge_details.acchallenge.vschallenger);
              challenge_acceptnote.html(challenge_details.acchallenge.acceptednote);

              numofmatches.html(challenge_details.data.numofmatches);
              numofmatchestoplay.html(challenge_details.numofmatchestoplay);

            })
              .done( function () {

                  loadingElem.hide();
                  elem1.show();

              }).fail( function () {

                  loadingElem.hide();
                  elem1.html('Failed to load data. Please try again.');

              });

          $.get( link_1 ).done( function(data) {
              form = data;
          })
            .done( function () {
                elem2.prepend(form);
                initSubmitForm( "#challengeConfirmForm", "#challengeConfirmFormSubmit", "#challengeConfirmResult" );
                loadingElem.hide();
            }).fail( function () {

                    loadingElem.hide();
                    elem2.html('Failed to load data. Please try again.');

            });
      });

      $("#cancelModal2").on("show.bs.modal", function(e) {

          var link = $(e.relatedTarget);

          link.addClass('disabled');

          var loadingElem = $(this).find("#loading1");

          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");

          elem1.html("");
          elem2.html("");
          loadingElem.show();

          var link_text = link.attr("href");
          var new_link = link_text.replace('cancel', 'confirmeddetails');
          var new_link2 = link_text.replace('cancel', 'details');

          var challenge_details = "";
          var cancel_form = "";
          var challenge_confirm_details = "";


          $.get(link_text).done(function (data) {
              cancel_form = ""
              cancel_form = data;
          })
                  .done(function () {
                      elem1.prepend(cancel_form);
                      initSubmitForm( "#cancelChallengeModalForm", "#cancelChallengeModalFormSubmit", "#cancelChallengeResult" );
                      $.get(new_link2).done(function (data) {
                          challenge_details = "";
                          challenge_details = data;
                      })
                              .done(function () {
                                  elem1.prepend(challenge_details);
                                  $.get(new_link).done(function (data) {
                                      challenge_confirm_details = "";
                                      challenge_confirm_details = data;
                                  })
                                          .done(function () {
                                              elem2.prepend(challenge_confirm_details);
                                              link.removeClass('disabled');
                                              loadingElem.hide();
                                          });
                              });
                  });
      });

      $("#cancelModal").on("show.bs.modal", function(e) {

          var challengedetailstable = $(this).find("#challengedetailstable");
          var challengedetails = $(this).find("#challengedetails");

          var challenge_date = $(this).find("#challengedate");
          var challenge_status = $(this).find("#challengestatus");
          var challenge_note = $(this).find("#challengenote");
          var challenge_note_label = $(this).find("#challengenotelabel");
          var challenged_division = $(this).find("#challengeddivision");
          var challenger = $(this).find("#challenger");
          var numofmatches = $(this).find("#numofmatches");
          var numofmatchestoplay = $(this).find("#numofmatchestoplay");

          var link = $(e.relatedTarget);

          link.addClass('disabled');
          var link_text = link.attr("href");
          var link_details = siteroot + '/challenge/details2/' + link.attr("data-related-challengeid");
          var link_infojson = siteroot + '/challenge/infojson/' + link.attr("data-related-challengeid");

          var challenge_details = "";
          var cancel_form = "";
          var challenge_confirm_details = "";

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");
          var elem3 = $(this).find(".modal-body-inner3");

          elem1.hide();
          elem2.html("");
          loadingElem.show();

          if ( ! $.fn.DataTable.isDataTable( challengedetailstable ) ) {

            challengedetailstableopts.ajax = link_infojson;
            challengedetailstableDT = challengedetailstable.DataTable(challengedetailstableopts);
            challengedetailstableDT.on( 'xhr', function () {
              challengedetailsjson = challengedetailstableDT.ajax.json();
              numofmatchestoplay.html(challengedetailsjson.matchesconfirmed);
            } );

          } else {

            challengedetailstableDT.clear().draw();
            challengedetailstableDT.ajax.url( link_infojson );
            challengedetailstableDT.ajax.reload(function () {
              challengedetailsjson = challengedetailstableDT.ajax.json();
              numofmatchestoplay.html(challengedetailsjson.matchesconfirmed);
            });

          }

          $.get(link_text).done(function (data) {
              cancel_form = data;
          })
            .done(function () {

                elem2.prepend(cancel_form);
                initSubmitForm( "#cancelChallengeModalForm", "#cancelChallengeModalFormSubmit", "#cancelChallengeResult" );

            }).fail(function () {

                  loadingElem.hide();
                  elem2.html('Failed to load data. Please try again.');

              });

          $.getJSON( link_details )
           .done( function(data) {

              challenge_details = data;
              if (challenge_details.status == 'Ready') {

                challenge_note.html(challenge_details.data.challengenote);
                challenge_note_label.html('<label>Note:</label>');
                challenge_status.html('<h4><span class="label label-success">' + challenge_details.status + '</span></h4>');

              } else if (challenge_details.status == 'Cancelled') {

                challenge_note.html(challenge_details.data.cancelnote);
                challenge_note_label.html('<label>Cancel note:</label>');
                challenge_status.html('<h4><span class="label label-danger">' + challenge_details.status + '</span></h4>');

              }

              challenge_date.html(challenge_details.data.challengedate);
              challenger.html(challenge_details.data.challenger);
              challenged_division.html(challenge_details.data.challengeddivision);


              numofmatches.html(challenge_details.data.numofmatches);


            })
              .done( function () {

                  loadingElem.hide();
                  elem1.show();

              }).fail(function () {

                  loadingElem.hide();
                  elem1.html('Failed to load data. Please try again.');

              });
      });

      $("#cancelAcceptedModal").on("show.bs.modal", function(e) {

          var challengedetailstable = $(this).find("#challengedetailstable");
          var challengedetails = $(this).find("#challengedetails");

          var challenge_date = $(this).find("#challengedate");
          var challenge_status = $(this).find("#challengestatus");
          var challenge_note = $(this).find("#challengenote");
          var challenge_note_label = $(this).find("#challengenotelabel");
          var challenged_division = $(this).find("#challengeddivision");
          var challenger = $(this).find("#challenger");
          var numofmatches = $(this).find("#numofmatches");
          var numofmatchestoplay = $(this).find("#numofmatchestoplay");

          var link = $(e.relatedTarget);

          link.addClass('disabled');
          var link_text = link.attr("href");
          var new_link = link_text.replace('cancelaccepted', 'confirmdetails');
          var new_link2 = link_text.replace('cancelaccepted', 'detailsaccepted');
          var link_details = siteroot + '/challenge/details2/' + link.attr("data-related-challengeid");
          var link_infojson = siteroot + '/challenge/infojson/' + link.attr("data-related-challengeid");

          var challenge_details = "";
          var cancel_form = "";
          var challenge_confirm_details = "";

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");
          var elem3 = $(this).find(".modal-body-inner3");

          elem1.hide();
          elem2.html("");
          loadingElem.show();

          if ( ! $.fn.DataTable.isDataTable( challengedetailstable ) ) {

            challengedetailstableopts.ajax = link_infojson;
            challengedetailstableDT = challengedetailstable.DataTable(challengedetailstableopts);
            challengedetailstableDT.on( 'xhr', function () {
              challengedetailsjson = challengedetailstableDT.ajax.json();
              numofmatchestoplay.html(challengedetailsjson.matchesconfirmed);
            } );

          } else {

            challengedetailstableDT.clear().draw();
            challengedetailstableDT.ajax.url( link_infojson );
            challengedetailstableDT.ajax.reload(function () {
              challengedetailsjson = challengedetailstableDT.ajax.json();

              // if (challengedetailsjson.data.length == 0) {
              //     $("#challengedetailstable").hide();
              // } else {
              //     $("#challengedetailstable").show();
              // }

              numofmatchestoplay.html(challengedetailsjson.matchesconfirmed);
            });

          }

          $.get(link_text).done(function (data) {
              cancel_form = data;
          })
            .done(function () {
                elem2.prepend(cancel_form);
                initSubmitForm( "#cancelAcceptedChallengeModalForm", "#cancelAcceptedChallengeModalFormSubmit", "#cancelAcceptedChallengeResult" );
            });

          $.getJSON( link_details )
           .done( function(data) {

              challenge_details = data;
              if (challenge_details.status == 'Ready') {

                challenge_note.html(challenge_details.data.challengenote);
                challenge_note_label.html('<label>Note:</label>');
                challenge_status.html('<h4><span class="label label-success">' + challenge_details.status + '</span></h4>');

              } else if (challenge_details.status == 'Cancelled') {

                challenge_note.html(challenge_details.data.cancelnote);
                challenge_note_label.html('<label>Cancel note:</label>');
                challenge_status.html('<h4><span class="label label-danger">' + challenge_details.status + '</span></h4>');

              }

              challenge_date.html(challenge_details.data.challengedate);
              challenger.html(challenge_details.data.challenger);
              challenged_division.html(challenge_details.data.challengeddivision);


              numofmatches.html(challenge_details.data.numofmatches);


            })
              .done( function () {

                  loadingElem.hide();
                  //challengedetails.show();
                  elem1.show();
                  //elem2.show();

              });
      });

      $("#deleteModal").on("show.bs.modal", function(e) {

          var challengedetailstable = $(this).find("#challengedetailstable");

          var challengedetails = $(this).find("#challengedetails");
          var challenge_date = $(this).find("#challengedate");
          var challenge_status = $(this).find("#challengestatus");
          var challenge_note = $(this).find("#challengenote");
          var challenge_note_label = $(this).find("#challengenotelabel");
          var challenged_division = $(this).find("#challengeddivision");
          var challenger = $(this).find("#challenger");
          var numofmatches = $(this).find("#numofmatches");
          var numofmatchestoplay = $(this).find("#numofmatchestoplay");

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");
          var elem3 = $(this).find(".modal-body-inner3");

          var details = "";
          var form = "";

          var link = $(e.relatedTarget);
          var link_1 = link.attr("href");
          var link_details = link_1.replace('delete', 'details2');
          var link_infojson = link_1.replace('delete', 'infojson');

          //elem1.html("");
          //elem2.html("");
          loadingElem.show();

          if ( ! $.fn.DataTable.isDataTable( challengedetailstable ) ) {

            challengedetailstableopts.ajax = link_infojson;
            challengedetailstableDT = challengedetailstable.DataTable(challengedetailstableopts);
            challengedetailstableDT.on( 'xhr', function () {
              challengedetailsjson = challengedetailstableDT.ajax.json();
              numofmatchestoplay.html(challengedetailsjson.matchesconfirmed);
            } );

           } else {

            challengedetailstableDT.clear().draw();
            challengedetailstableDT.ajax.url( link_infojson );
            challengedetailstableDT.ajax.reload(function () {
              challengedetailsjson = challengedetailstableDT.ajax.json();
              numofmatchestoplay.html(challengedetailsjson.matchesconfirmed);
            });

          }

          $.getJSON( link_details )
           .done( function(data) {

              challenge_details = data;
              if (challenge_details.status == 'Ready') {

                challenge_note.html(challenge_details.data.challengenote);
                challenge_note_label.html('<label>Note:</label>');
                challenge_status.html('<h4><span class="label label-success">' + challenge_details.status + '</span></h4>');

              } else if (challenge_details.status == 'Cancelled') {

                challenge_note.html(challenge_details.data.cancelnote);
                challenge_note_label.html('<label>Cancel note:</label>');
                challenge_status.html('<h4><span class="label label-danger">' + challenge_details.status + '</span></h4>');

              }

              challenge_date.html(challenge_details.data.challengedate);
              challenger.html(challenge_details.data.challenger);
              challenged_division.html(challenge_details.data.challengeddivision);


              numofmatches.html(challenge_details.data.numofmatches);


            });

            $.get( link_1 ).done( function(data) {
                form = data;
            })
              .done( function () {
                  elem2.prepend(form);
                  initSubmitForm( "#deleteChallengeModalForm", "#deleteModalSubmitButton", "#deleteResult" );
                  loadingElem.hide();
              });
      });

      $("#cancelAcceptedModal").on("hide.bs.modal", function(e) {

        if ($('#cancelAcceptedChallengeModalForm #cancelAcceptedChallengeResult').html() !== undefined) {
          if ($('#cancelAcceptedChallengeModalForm #cancelAcceptedChallengeResult').html().indexOf('Challenge cancelled!')) {
            acceptedchallengesmytable.ajax.reload();
          }
        }
        $(this).find(".modal-body-inner2").html("");
      });

      $("#deleteModal").on("hide.bs.modal", function(e) {

        if ($('#deleteChallengeModalForm #deleteResult').html() !== undefined) {
          if ($('#deleteChallengeModalForm #deleteResult').html().indexOf('Challenge deleted!')) {
            challengesmytable.ajax.reload();
          }
        }

        $(this).find(".modal-body-inner2").html("");
      });

      $("#confirmModal").on("hide.bs.modal", function(e) {

        if ($('#challengeConfirmForm #challengeConfirmResult').html() !== undefined) {
          if ($('#challengeConfirmForm #challengeConfirmResult').html().indexOf('Challenge confirmed!')) {
            challengesstatusmytable.ajax.reload();
          }
        }

        $(this).find(".modal-body-inner2").html("");
      });

      $("#cancelModal").on("hide.bs.modal", function(e) {

        if ($('#cancelChallengeModalForm #cancelChallengeResult').html() !== undefined) {
          if ($('#cancelChallengeModalForm #cancelChallengeResult').html().indexOf('Challenge cancelled!')) {
            challengesmytable.ajax.reload();
          }
        }

        $(this).find(".modal-body-inner2").html("");
      });

      $("#challengeDetailsModal2").on("hide.bs.modal", function(e) {

        if ($('#deleteChallengeModalForm #deleteResult').html() !== undefined) {
          if ($('#deleteChallengeModalForm #deleteResult').html().indexOf('Challenge deleted!')) {
            challengesmytable.ajax.reload();
          }
        }

        if ($('#cancelAcceptedChallengeModalForm #cancelAcceptedChallengeResult').html() !== undefined) {
          if ($('#cancelAcceptedChallengeModalForm #cancelAcceptedChallengeResult').html().indexOf('Challenge cancelled!')) {
            acceptedchallengesmytable.ajax.reload();
          }
        }

        $(this).find(".modal-body-inner1").html("");
        $(this).find(".modal-body-inner2").html("");
      });

      $("#challengeDetailsModal").on("shown.bs.modal", function(e) {

          var elem2 = $(this).find(".modal-body-inner2");

          if ( $.fn.DataTable.isDataTable( '#' + tablename_0 ) ) {
            $('#' + tablename_0 ).DataTable()
            .columns.adjust()
            .responsive.recalc();
          }

          elem2.css('visibility', '');
      });

      function initSubmitForm (form_id, submit_button_id, ajax_result_div_id) {
        $(form_id).submit(function (e) {
            e.preventDefault();
            var loadingElem2 = $(this).find("#loading2");

            var $form = $( this );
            var url = $form.attr( "action" );
            var posting = $.post( url, $form.serialize() );

            loadingElem2.show();
            $(submit_button_id).hide();

            posting.done(function( data ) {
              loadingElem2.hide();
              $(form_id + ' ' + ajax_result_div_id).html(data);
              $(form_id + ' ' + ajax_result_div_id).show();
            }).fail(function() {
              $(form_id + ' ' + ajax_result_div_id).html('Failed. Please retry.');
            });
          });
      }
  });

  </script>
{% endblock js %}