{% extends 'templates/default.twig' %}
{% use 'nav.inc' %}

{% block head %}

  {{parent()}}
  <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{SITEROOT}}/res/css/responsive.dataTables.min.css">
{% endblock head %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
          {% if flash.getMessages() %}
            {% for k, messages in flash.getMessages() %}
              {% for message in flash.getMessages()[k] %}
                {% if k == 'global' %}
                  <div class="alert alert-success">{{ message }}</div>
                {% else %}
                  <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}

        {% block nav %}
        {{ parent() }}
        {% endblock nav %}

      </div>
      <div class="col-md-8">
        <div class="panel">
            <div class="panel-body">
              <h2><strong>My Challenges</strong><a alt="Refresh" class="btn btn-sm" title="Refresh" id="challengesmytablerefresh"><img src="{{SITEROOT}}/res/img/reload.png"></a></h2>
              <table id="challengesmytable" class="display nowrap table table-bordered table-striped table-condensed table-hover" style="width: 100% !important;">
                <thead>
                  <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Division</th>
                    <th># Acc/Conf/Can</th>
                    <th># challenged</th>
                  </tr>
                </thead>
              </table>

          <h2><strong>Challenges Accepted by Me</strong><a alt="Refresh" class="btn btn-sm" title="Refresh" id="acceptedchallengesmytablerefresh"><img src="{{SITEROOT}}/res/img/reload.png"></a></h2>

              <table id="acceptedchallengesmytable" class="display table table-bordered table-striped table-condensed table-hover" style="width: 100% !important;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Date</th>
                    <th>VS</th>
                    <th>Division</th>
                  </tr>
                </thead>
              </table>

          <h2><strong>My Challenges Status <a alt="Refresh" class="btn btn-sm" title="Refresh" id="mychallengesstatustablerefresh"><img src="{{SITEROOT}}/res/img/reload.png"></a></strong></h2>

              <table id="mychallengesstatustable" class="display nowrap table table-bordered table-striped table-condensed table-hover" style="width: 100% !important;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Accepted By</th>
                    <th>Division</th>
                    <th># challenged</th>
                  </tr>
                </thead>
              </table>

        	</div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

  <div id="challengeDetailsModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-primary" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Challenge Details</h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
                <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1"></div>
          <div class="modal-body-inner2"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="confirmModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-warning" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Confirm a challenge</strong></h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
                <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1"></div>
          <div class="modal-body-inner2"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="deleteModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-danger" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Delete challenge?</strong></h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
                <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1"></div>
          <div class="modal-body-inner2"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="cancelModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-danger" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Cancel challenge?</strong></h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
                <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1"></div>
          <div class="modal-body-inner2"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="cancelAcceptedModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-danger" style="
            height: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        ">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Cancel accepted challenge?</strong></h4>
        </div>
        <div class="modal-body">
            <div id="loading1">
              <img src="{{SITEROOT}}/res/img/loader.gif">
            </div>
          <div class="modal-body-inner1">
          </div>
          <div class="modal-body-inner2">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}

  <script type="text/javascript" src="{{SITEROOT}}/res/js/datatables.min.js"></script>
  <script type="text/javascript" src="{{SITEROOT}}/res/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript">

    $(document).ready(function() {

      var items = [];

      // $.getJSON( "{{ path_for('challenges.my.get.json')}}", function( data ) {

      //   $.each( data, function( key, val ) {
      //     var item = [];

      //     if (data[key]['confirmed'] == 1 ) {

      //       if (data[key]['cancelnote']) {
      //         item.push('<a class="btn btn-sm btn-danger disabled">Cancelled</a>');
      //       } else {
      //         item.push('<a data-loaded="false" data-toggle="modal" data-target="#cancelModal" data-remote="false"  class="btn btn-sm btn-info" href="{{SITEROOT}}/challenge/cancel/'
      //           + data[key]['challengeid']
      //           + '">Cancel</a>');
      //       }
      //     } else {
      //       item.push('<a data-toggle="modal" data-target="#deleteModal" data-remote="false" class="btn btn-sm btn-warning" href="{{SITEROOT}}/challenge/delete/'
      //         + data[key]['challengeid']
      //         + '">Delete</a>');
      //     }

      //     item.push( '<a href="{{SITEROOT}}/challenge/details/' + data[key]['challengeid'] + '" data-toggle="modal" data-target="#challengeDetailsModal" data-remote="false" class="btn btn-sm btn-primary">' + data[key]['challengedate'] + '</a>' );
      //     item.push(data[key]['challengeddivision'] );

      //     item.push(
      //         '<a class="btn disabled btn-sm btn-warning" href="{{SITEROOT}}/challenge/details/'
      //         + data[key]['challengeid']
      //         + '"> ' + data[key]['numofacceptedchallenges'] + ' </a> / '
      //         + '<a class="btn disabled btn-sm btn-success" href="{{SITEROOT}}/challenge/details/'
      //         + data[key]['challengeid']
      //         + '"> ' + data[key]['numofconfirmedchallenges'] + ' </a> / '
      //         + '<a class="btn disabled btn-sm btn-danger" href="{{SITEROOT}}/challenge/details/'
      //         + data[key]['challengeid']
      //         + '"> ' + data[key]['numofcancelledchallenges'] + ' </a>'
      //     );

      //     if (data[key]['numofplayers'] ) {
      //       item.push(data[key]['numofplayers'] );
      //     } else {

      //       item.push('all');
      //     }

      //     items.push(item);
      //   });

      //   if (items.length <= 10) {
      //     var opts =  {
      //       responsive: true,
      //       processing: true,
      //       "oLanguage": {
      //         "sZeroRecords": "No records"
      //       },
      //       "order": [[ 1, "desc" ]],
      //       "paging":   false,
      //       "info":     false,
      //       "searching": false,
      //     };
      //   }

      //   var challengesmytable = $('#challengesmytable').dataTable(opts);

      //   challengesmytable.fnClearTable();

      //   for(var i = 0; i < items.length; i++) {
      //       challengesmytable.fnAddData([
      //         items[i][0],
      //         items[i][1],
      //         items[i][2],
      //         items[i][3],
      //         items[i][4]
      //       ]);
      //   };
      // });

      var challengesmytableopts = {
           responsive: true,
           processing: true,
           ajax: "{{ path_for('challenges2.my.get.json')}}",
           columns: [
             { "data" : "challengeid" }, // 0
             { "data" : "challengedate" },
             { "data" : "challengeddivision" },
             { "data" : "numofacceptedchallenges" },
             { "data" : "numofplayers" }, // 4 hide rest
             { "data" : "numofconfirmedchallenges" },
             { "data" : "numofcancelledchallenges" },
             { "data" : "challengenote" },
             { "data" : "challengecreatedat" },
             { "data" : "cancelnote" },
             { "data" : "confirmed" }, // 10
           ],
           oLanguage: {
            sZeroRecords : "Nothing to show"
           },
           order: [[ 1, "desc" ]],
           paging:   false,
           info:     true,
           searching: false,
           initComplete: function () {
           },
           columnDefs : [
              {
                  targets   : [ 5,6,7,8,9,10 ],
                  visible    : false,
                  searchable : false
              },
           ],
           rowCallback : function( row, full, index ) {

              if (full.confirmed == 1 ) {

                if (full.cancelnote) {

                  output_col_0 = '<a class="btn btn-sm btn-danger disabled">Cancelled</a>';

                } else {

                  output_col_0 = '<a data-loaded="false" data-toggle="modal" data-target="#cancelModal" data-remote="false"  class="btn btn-sm btn-info" href="{{SITEROOT}}/challenge/cancel/'
                    + full.challengeid
                    + '">Cancel</a>';

                }

              } else {

               output_col_0 = '<a data-toggle="modal" data-target="#deleteModal" data-remote="false" class="btn btn-sm btn-warning" href="{{SITEROOT}}/challenge/delete/'
                  + full.challengeid
                  + '">Delete</a>';

              }

              output_col_1 = '<a href="{{SITEROOT}}/challenge/details/' + full.challengeid +
                          '" data-toggle="modal" \
                             data-target="#challengeDetailsModal" \
                             data-remote="false" \
                             class="btn btn-sm btn-primary">' + full.challengedate + '</a>';

              output_col_3 = '<a class="btn disabled btn-sm btn-warning"> ' + full.numofacceptedchallenges + ' </a> / '
                  + '<a class="btn disabled btn-sm btn-success"> ' + full.numofconfirmedchallenges + ' </a> / '
                  + '<a class="btn disabled btn-sm btn-danger"> ' + full.numofcancelledchallenges + ' </a>';

              full.numofplayers = (full.numofplayers ? full.numofplayers : 'all');

              $('td:eq(0)', row).html( output_col_0 );
              $('td:eq(1)', row).html( output_col_1 );
              $('td:eq(3)', row).html( output_col_3 );
              $('td:eq(4)', row).html( full.numofplayers );

           }
      };

      var acceptedchallengesmytableopts = {
           responsive: true,
           processing: true,
           ajax: "{{ path_for('acceptedchallenges2.my.get.json')}}",
           columns: [
             { "data" : "challengeid" },
             { "data" : "challengedate" },
             { "data" : "challenger" },
             { "data" : "challengeddivision" },
             { "data" : "confirmed" },
             { "data" : "acceptedchallengeid" },
             { "data" : "challengenote" },
             { "data" : "winnerid" },
             { "data" : "reportconfirmed" },
             { "data" : "cancelnote" },
           ],
           oLanguage: {
            sZeroRecords : "Nothing to show"
           },
           order: [[ 1, "desc" ]],
           paging:   false,
           info:     true,
           searching: false,
           initComplete: function () {
           },
           columnDefs : [
              {
                  targets   : [ 4,5,6,7,8,9 ],
                  visible    : false,
                  searchable : false
              },
           ],
           rowCallback : function( row, full, index ) {

              if (full.confirmed == 1 &&  !full.cancelnote) {
                output_col_0 = '<div class="btn-group" role="group" aria-label="Confirmed and Cancel"><a class="btn btn-sm btn-success disabled">Confirmed</a><a data-toggle="modal" data-target="#cancelAcceptedModal" data-remote="false" class="btn btn-sm btn-warning" href="{{SITEROOT}}/challenge/cancelaccepted/'
                  + full.acceptedchallengeid
                  + '">Cancel</a></div>';
              } else if (full.confirmed == 1 && full.cancelnote) {
                output_col_0 = '<div class="btn-group" role="group" aria-label="Confirmed and cancelled"><a class="btn btn-sm btn-success disabled">Confirmed</a><a class="btn btn-sm btn-danger disabled">Cancelled</a></div>';
              } else if (full.cancelnote) {
                  output_col_0 = '<a class="btn btn-sm btn-danger disabled">Cancelled</a>';
              } else {
                output_col_0 = '<a data-isloaded="false" data-toggle="modal" data-target="#cancelAcceptedModal" data-remote="false" class="btn btn-sm btn-warning" href="{{SITEROOT}}/challenge/cancelaccepted/'
                  + full.acceptedchallengeid
                  + '">Cancel</a>';
              }

              output_col_1 = '<a href="{{SITEROOT}}/challenge/details/' + full.challengeid +
                          '" data-toggle="modal" \
                             data-target="#challengeDetailsModal" \
                             data-remote="false" \
                             class="btn btn-sm btn-primary">' + full.challengedate + '</a>';

              $('td:eq(0)', row).html( output_col_0 );
              $('td:eq(1)', row).html( output_col_1 );

           }
      };

      var challengesstatusmytableopts = {
           responsive: true,
           processing: true,
           ajax: "{{ path_for('challengesstatus2.my.get.json')}}",
           columns: [
             { "data" : "challengeid" },
             { "data" : "challengedate" },
             { "data" : "acceptedby" },
             { "data" : "challengeddivision" },
             { "data" : "numofplayers" },
             { "data" : "acceptedchallengeid" },
             { "data" : "challengenote" },
             { "data" : "confirmed" },
             { "data" : "cancelnote" },
           ],
           oLanguage: {
            sZeroRecords : "Nothing to show"
           },
           order: [[ 1, "desc" ]],
           paging:   false,
           info:     true,
           searching: false,
           initComplete: function () {
           },
           columnDefs : [
              {
                  targets : 4,
                  searchable : false,
              },
              {
                  targets   : [ 5,6,7,8 ],
                  visible    : false,
                  searchable : false
              }
           ],
           rowCallback : function( row, full, index ) {
              if (full.cancelnote) {

                output_col_0 = '<a class="btn btn-sm btn-danger disabled" href="">Cancelled (opponent)</a>';

              } else {

                if (full.confirmed == 1) {

                    output_col_0 = '<a class="btn btn-sm btn-success disabled" href="">Confirmed</a>';

                } else {

                    output_col_0 = '<a data-toggle="modal" ' +
                    'data-target="#confirmModal" ' +
                    'data-remote="false" ' +
                    'class="btn btn-sm btn-warning" ' +
                    'href="{{SITEROOT}}/challenge/confirm/' +
                    full.acceptedchallengeid +
                    '">Confirm</a>';

                }
              }

              full.numofplayers = (full.numofplayers ? full.numofplayers : 'all');

              $('td:eq(0)', row).html( output_col_0 );
              $('td:eq(4)', row).html( full.numofplayers );
           }
      };

      challengesmytable = $('#challengesmytable').DataTable(challengesmytableopts);
      acceptedchallengesmytable = $('#acceptedchallengesmytable').DataTable(acceptedchallengesmytableopts);
      challengesstatusmytable = $('#mychallengesstatustable').DataTable(challengesstatusmytableopts);


      $('#challengesmytablerefresh').on( 'click', function () {
          challengesmytable.ajax.reload();
      } );

      $('#acceptedchallengesmytablerefresh').on( 'click', function () {
          acceptedchallengesmytable.ajax.reload();
      } );

      $('#mychallengesstatustablerefresh').on( 'click', function () {
          challengesstatusmytable.ajax.reload();
      } );

      $("#challengeDetailsModal").on("show.bs.modal", function(e) {

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");
          elem1.html("");
          elem2.html("");

          loadingElem.show();

          var link = $(e.relatedTarget);
          var link_1 = link.attr("href");
          var link_2 = link_1.replace('details', 'confirmeddetails');

          var challenge_details = "";
          var form = "";

          $.get( link_2 ).done( function(data) {
              form = data;
          })
          .done( function () {
              elem2.prepend(form);
          })
              .done( function () {

                  $.get( link_1 ).done( function(data) {
                      challenge_details = data;
                  })
                      .done( function () {
                          elem1.prepend(challenge_details);
                          loadingElem.hide();
                      });

              });
      });

      $("#confirmModal").on("show.bs.modal", function(e) {

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");
          elem1.html("");
          elem2.html("");
          loadingElem.show();

          var details = "";
          var form = "";

          var link = $(e.relatedTarget);
          var link_1 = link.attr("href");
          var link_2 = link_1.replace('confirm', 'confirmdetails');

          $.get( link_2 ).done( function(data) {
              form = data;
          })
                  .done( function () {
                      elem1.prepend(form);
                  })
                  .done( function () {

                      $.get( link_1 ).done( function(data) {
                          details = data;
                      })
                              .done( function () {
                                  elem2.prepend(details);
                                  loadingElem.hide();
                              });

                  });
      });

      $("#cancelModal").on("show.bs.modal", function(e) {

          var link = $(e.relatedTarget);

          link.addClass('disabled');

          var loadingElem = $(this).find("#loading1");

          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");

          elem1.html("");
          elem2.html("");
          loadingElem.show();

          var link_text = link.attr("href");
          var new_link = link_text.replace('cancel', 'confirmeddetails');
          var new_link2 = link_text.replace('cancel', 'details');

          var challenge_details = "";
          var cancel_form = "";
          var challenge_confirm_details = "";


          $.get(link_text).done(function (data) {
              cancel_form = ""
              cancel_form = data;
          })
                  .done(function () {
                      elem1.prepend(cancel_form);
                      $.get(new_link2).done(function (data) {
                          challenge_details = "";
                          challenge_details = data;
                      })
                              .done(function () {
                                  elem1.prepend(challenge_details);
                                  $.get(new_link).done(function (data) {
                                      challenge_confirm_details = "";
                                      challenge_confirm_details = data;
                                  })
                                          .done(function () {
                                              elem2.prepend(challenge_confirm_details);
                                              link.removeClass('disabled');
                                              loadingElem.hide();
                                          });
                              });
                  });
      });

      $("#cancelAcceptedModal").on("show.bs.modal", function(e) {

          var link = $(e.relatedTarget);

          link.addClass('disabled');
          var link_text = link.attr("href");
          var new_link = link_text.replace('cancelaccepted', 'confirmdetails');
          var new_link2 = link_text.replace('cancelaccepted', 'detailsaccepted');

          var challenge_details = "";
          var cancel_form = "";
          var challenge_confirm_details = "";

          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");

          elem1.html("");
          elem2.html("");
          loadingElem.show();

          $.get(link_text).done(function (data) {
              cancel_form = data;
          })
                  .done(function () {
                      elem1.prepend(cancel_form);
                  })
                  .done(function () {

                      $.get(new_link2).done(function (data) {
                          challenge_details = data;
                      })
                              .done(function () {
                                  elem1.prepend(challenge_details);
                              })
                              .done(function () {

                                  $.get(new_link).done(function (data) {
                                      challenge_confirm_details = data;
                                  })
                                          .done(function () {
                                              elem2.prepend(challenge_confirm_details);
                                              link.removeClass('disabled');
                                              loadingElem.hide();
                                          });

                              });
                  });
      });

      $("#deleteModal").on("show.bs.modal", function(e) {
          $(this).find(".modal-body-inner1").html("");
          $(this).find(".modal-body-inner2").html("");
          var loadingElem = $(this).find("#loading1");
          var elem1 = $(this).find(".modal-body-inner1");
          var elem2 = $(this).find(".modal-body-inner2");
          var details = "";
          var form = "";

          var link = $(e.relatedTarget);
          var link_1 = link.attr("href");
          var link_2 = link_1.replace('delete', 'confirmdetails');

          elem1.html("");
          elem2.html("");
          loadingElem.show();

          $.get( link_2 ).done( function(data) {
              form = data;
          })
                  .done( function () {
                      elem2.prepend(form);
                  })
                  .done( function () {

                      $.get( link_1 ).done( function(data) {
                          details = data;
                      })
                              .done( function () {
                                  elem1.prepend(details);
                                  loadingElem.hide();
                              });

                  });
      });

      $("#challengeDetailsModal, #deleteModal, #cancelModal, #cancelAcceptedModal, #confirmModal")
       .on("hide.bs.modal", function(e) {

          $(this).find(".modal-body-inner1").html("");
          $(this).find(".modal-body-inner2").html("");
      });
  });

  </script>
{% endblock js %}